Repository frontend-provider/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @snyk/hammer, @snyk/snyk-open-source, @snyk/tech-services, @snyk/group-infrastructure-as-code, @snyk/moose, @snyk/mycelium, @snyk/zenith, @snyk/potion, @snyk/nebula, @snyk/tundra

.github/CODEOWNERS:

*  @snyk/hammer @snyk/snyk-open-source

# monorepo packages
packages/snyk-fix/ @snyk/tech-services
packages/snyk-protect/ @snyk/hammer
packages/cli-alert/ @snyk/hammer

README.md  @snyk/hammer
CONTRIBUTING.md @snyk/hammer
.circleci @snyk/hammer

cliv2/ @snyk/hammer
release-scripts/hcl-to-json-parser-generator/ @snyk/group-infrastructure-as-code
release-scripts/hcl-to-json-parser-generator-v2/ @snyk/group-infrastructure-as-code
src/cli/commands/test @snyk/snyk-open-source
src/cli/commands/monitor @snyk/snyk-open-source
help/  @snyk/hammer
help/cli-commands/iac*.md @snyk/group-infrastructure-as-code @snyk/hammer 
src/cli/commands/test/iac/ @snyk/group-infrastructure-as-code
src/cli/commands/describe.ts @snyk/group-infrastructure-as-code
src/cli/commands/update-exclude-policy.ts @snyk/group-infrastructure-as-code
src/cli/commands/apps @snyk/moose
src/lib/apps @snyk/moose
src/lib/container @snyk/mycelium
src/lib/plugins @snyk/snyk-open-source
test/fixtures/sast/ @snyk/zenith
src/lib/plugins/sast/ @snyk/zenith
test/jest/unit/snyk-code/ @snyk/zenith
src/lib/formatters/iac-output/ @snyk/group-infrastructure-as-code
src/lib/iac/ @snyk/group-infrastructure-as-code
src/lib/snyk-test/iac-test-result.ts @snyk/group-infrastructure-as-code
test/fixtures/basic-apk/ @snyk/mycelium
test/fixtures/container-app-vulns/ @snyk/mycelium
test/fixtures/container-projects/ @snyk/mycelium @snyk/potion
test/fixtures/docker/ @snyk/mycelium @snyk/potion
test/fixtures/iac/ @snyk/group-infrastructure-as-code
test/smoke/iac/ @snyk/group-infrastructure-as-code
test/smoke/spec/iac/ @snyk/group-infrastructure-as-code
test/smoke/spec/snyk_code_spec.sh @snyk/zenith
test/smoke/spec/snyk_basic_spec.sh @snyk/hammer
test/smoke/.iac-data/ @snyk/group-infrastructure-as-code
test/jest/unit/lib/endpoint-config-test.spec.ts @snyk/nebula
test/jest/unit/lib/formatters/iac-output/ @snyk/group-infrastructure-as-code
test/jest/unit/lib/formatters/test/format-test-results.spec.ts @snyk/hammer @snyk/snyk-open-source @snyk/mycelium
test/jest/unit/iac/ @snyk/group-infrastructure-as-code
test/jest/unit/cli/commands/test/iac @snyk/group-infrastructure-as-code
test/jest/unit/lib/iac/ @snyk/group-infrastructure-as-code
test/jest/acceptance/iac/ @snyk/group-infrastructure-as-code
test/jest/acceptance/snyk-apps @snyk/moose
src/lib/code-config.ts @snyk/nebula
src/lib/errors/describe-required-argument-error.ts @snyk/group-infrastructure-as-code
src/lib/errors/describe-exclusive-argument-error.ts @snyk/group-infrastructure-as-code
src/lib/errors/no-supported-sast-files-found.ts @snyk/zenith
help/commands-docs/iac-examples.md @snyk/group-infrastructure-as-code
help/commands-docs/iac.md @snyk/group-infrastructure-as-code
test/jest/util/ @snyk/hammer
dangerfile.js @snyk/hammer
/package.json @snyk/hammer
/package-lock.json @snyk/hammer
/config.default.js @snyk/hammer
/webpack.common.js @snyk/hammer
/webpack.dev.js @snyk/hammer
/webpack.prod.js @snyk/hammer
/tsconfig.json @snyk/hammer
/tsconfig.settings.json @snyk/hammer
CODEOWNERS @snyk/hammer
/docker @snyk/hammer
src/cli/commands/log4shell-hashes.ts @snyk/tundra
src/cli/commands/log4shell.ts @snyk/tundra
test/fixtures/unmanaged-log4j-fixture @snyk/tundra
test/jest/acceptance/snyk-log4shell/log4shell-detection.spec.ts @snyk/tundra
test/jest/acceptance/snyk-test/app-vuln-container-project.spec.ts @snyk/mycelium
/.github @snyk/hammer
/.github/workflows/iac-smoke-tests.yml @snyk/group-infrastructure-as-code
/.github/workflows/iac-smoke-tests-pulls.yml @snyk/group-infrastructure-as-code

# tap tests ownership
test/tap/cli-monitor/ @snyk/snyk-open-source
test/tap/cli-test/ @snyk/snyk-open-source
test/tap/args.test.ts @snyk/hammer
test/tap/auth.test.ts @snyk/hammer
test/tap/cli-fail-on-docker.test.ts @snyk/hammer
test/tap/cli-fail-on-pinnable.test.ts @snyk/snyk-open-source
test/tap/cli-monitor.acceptance.test.ts @snyk/snyk-open-source
test/tap/cli-test.acceptance.test.ts @snyk/snyk-open-source
test/tap/cli.test.ts @snyk/hammer
test/tap/container.test.ts @snyk/potion
test/tap/display-test-results.test.ts @snyk/snyk-open-source
test/tap/docker-token.test.ts @snyk/potion
test/tap/endpoint-config.test.ts @snyk/hammer
test/tap/find-files.test.ts @snyk/snyk-open-source
test/tap/monitor-target.test.ts @snyk/snyk-open-source
test/tap/proxy.test.js @snyk/hammer
test/tap/remote-package.test.ts @snyk/snyk-open-source
test/tap/request.test.ts @snyk/hammer
test/tap/run-test.test.ts @snyk/snyk-open-source
test/tap/severity-threshold.test.ts @snyk/snyk-open-source
test/tap/sln-app.test.ts @snyk/snyk-open-source
test/tap/sub-process.test.js @snyk/snyk-open-source
test/tap/user-config.test.ts @snyk/snyk-open-source
test/tap/vulnerable-path-output.js @snyk/snyk-open-source

# protect
test/tap/cli-protect-no-vulns-to-patch.test.ts @snyk/hammer
test/tap/patch-fetch-fail.test.ts @snyk/hammer
test/tap/cli-protect.test.ts @snyk/hammer
test/tap/protect-apply-same-patch-again.test.js @snyk/hammer
test/tap/protect-config.test.ts @snyk/hammer
test/tap/protect-factors-pre-tarred.test.ts @snyk/hammer
test/tap/protect-fail.test.js @snyk/hammer
test/tap/protect-ignore.test.js @snyk/hammer
test/tap/protect-patch-filter.test.js @snyk/hammer
test/tap/protect-patch-order.test.ts @snyk/hammer
test/tap/protect-patch-same-pkg.test.js @snyk/hammer
test/tap/protect-semver-patch.test.ts @snyk/hammer

fix: Revert "Merge pull request #4255 from snyk/chore/HMMR-567-release-golang-cli-for-linux"
  .circleci/config.yml
Owners: @snyk/hammer

fix: add no_proxy for localhost traffic
  cliv2/internal/cliv2/cliv2.go
  cliv2/internal/cliv2/cliv2_test.go
  cliv2/internal/constants/constants.go
  test/jest/acceptance/https.spec.ts
Owners: @snyk/hammer, @snyk/snyk-open-source

fix: replace tmp by cache directory
  cliv2/internal/embedded/cliv1/cliv1.go
  cliv2/internal/proxy/proxy.go
  cliv2/internal/proxy/proxy_test.go
  cliv2/internal/utils/cache-dir.go
  cliv2/internal/utils/directories.go
  cliv2/internal/utils/temp-dir.go
  cliv2/pkg/basic_workflows/legacycli.go
Owners: @snyk/hammer

fix: missing org slug in query string when tracking usage for iac scans
  src/cli/commands/test/iac/local-execution/index.ts
  src/cli/commands/test/iac/local-execution/usage-tracking.ts
  test/jest/unit/iac/usage-tracking.spec.ts
Owners: @snyk/group-infrastructure-as-code

fix: merge internal and external defined no_proxy
  cliv2/go.mod
  cliv2/go.sum
  cliv2/internal/cliv2/cliv2.go
  cliv2/internal/cliv2/cliv2_test.go
  cliv2/internal/utils/api_tokens.go
  cliv2/internal/utils/array.go
  cliv2/pkg/basic_workflows/legacycli.go
  package-lock.json
  package.json
Owners: @snyk/hammer

chore: release golang cli on linux and arm64
  .circleci/config.yml
Owners: @snyk/hammer

chore: increase timeout on proxy test
  test/jest/acceptance/proxy-behavior.spec.ts
Owners: @snyk/hammer, @snyk/snyk-open-source

chore: add runbook to iac smoke tests alert
  packages/iac-cli-alert/src/index.ts
Owners: @snyk/hammer, @snyk/snyk-open-source
