Repository frontend-provider/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @snyk/content, @snyk/loki, @snyk/tardis, @snyk/tundra, @snyk/flow, @snyk/hammer, @snyk/cloudconfig, @snyk/sast-team, @snyk/capsule, @snyk/tech-services

.github/CODEOWNERS:

# Snyk Boost will be required for a review on every PR
README.md  @snyk/content @snyk/loki @snyk/tardis @snyk/tundra
src/cli/commands/test/formatters/format-reachability.ts  @snyk/flow
help/  @snyk/hammer
*  @snyk/hammer @snyk/loki @snyk/tardis @snyk/tundra
src/cli/commands/test/iac-local-execution/ @snyk/cloudconfig
src/cli/commands/test/iac-output.ts @snyk/cloudconfig
src/cli/commands/test/iac-test-shim.ts @snyk/cloudconfig
src/lib/cloud-config-projects.ts @snyk/cloudconfig
src/lib/plugins/sast/ @snyk/sast-team
src/lib/iac/ @snyk/cloudconfig
src/lib/snyk-test/iac-test-result.ts @snyk/cloudconfig
src/lib/snyk-test/payload-schema.ts @snyk/cloudconfig
src/lib/snyk-test/run-iac-test.ts @snyk/cloudconfig
test/acceptance/cli-test/iac/ @snyk/cloudconfig
test/fixtures/container-projects/ @snyk/capsule
test/fixtures/iac/ @snyk/cloudconfig
test/smoke/spec/iac/ @snyk/cloudconfig
test/smoke/.iac-data/ @snyk/cloudconfig
test/fixtures/sast/ @snyk/sast-team
test/snyk-code-test.spec.ts @snyk/sast-team
test/jest/unit/iac-unit-tests/ @snyk/cloudconfig
test/jest/acceptance/iac/ @snyk/cloudconfig
src/lib/errors/invalid-iac-file.ts @snyk/cloudconfig
src/lib/errors/unsupported-options-iac-error.ts @snyk/cloudconfig
help/commands-docs/iac-examples.md @snyk/cloudconfig
help/commands-docs/iac.md @snyk/cloudconfig
packages/snyk-fix/ @snyk/tech-services
packages/snyk-protect/ @snyk/hammer
test/jest/util/ @snyk/hammer
dangerfile.js @snyk/hammer

fix: make sure we suggest --all-sub-projects only when appropriate
  src/lib/formatters/format-monitor-response.ts
  src/lib/formatters/show-all-projects-tip.ts
  src/lib/formatters/show-all-sub-projects-tip.ts
  src/lib/formatters/test/display-result.ts
  test/acceptance/cli-test/cli-test.gradle.spec.ts
  test/jest/unit/lib/formatters/__snapshots__/format-monitor-response.spec.ts.snap
  test/jest/unit/lib/formatters/show-all-projects-tip.spec.ts
  test/jest/unit/lib/formatters/show-all-sub-projects-tip.spec.ts
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

refactor: combine multi scan tips into 1
  src/lib/formatters/format-monitor-response.ts
  src/lib/formatters/show-multi-scan-tip.ts
  src/lib/formatters/test/display-result.ts
  src/lib/types.ts
  test/jest/unit/lib/formatters/show-multi-scan-tip.spec.ts
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

feat: suggest `snyk fix` for fixable pip & poetry projects
  src/lib/formatters/show-fix-tip.ts
  src/lib/formatters/test/format-test-results.ts
  src/lib/package-managers.ts
  test/acceptance/workspaces/monorepo-with-nuget/src/cartservice-nuget/obj/Debug/netcoreapp1.1/cartservice.csproj.AssemblyReference.cache
  test/jest/unit/lib/formatters/show-fix-tip.spec.ts
  test/jest/unit/lib/formatters/show-multi-scan-tip.spec.ts
  test/jest/unit/lib/formatters/test/__snapshots__/display-result.spec.ts.snap
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

feat: drop bold formatting based on design feedback.
  src/lib/formatters/format-monitor-response.ts
  src/lib/formatters/show-fix-tip.ts
  src/lib/formatters/test/display-result.ts
  test/acceptance/workspaces/monorepo-with-nuget/src/cartservice-nuget/obj/Debug/netcoreapp1.1/cartservice.csproj.AssemblyReference.cache
  test/acceptance/workspaces/pip-app-transitive-vuln/cli-output-actionable-remediation.txt
  test/acceptance/workspaces/pip-app-transitive-vuln/cli-output.txt
  test/jest/unit/lib/formatters/show-fix-tip.spec.ts
  test/jest/unit/lib/formatters/test/__snapshots__/display-result.spec.ts.snap
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

chore: init support async test with polling
  src/lib/common.ts
  src/lib/ecosystems/polling.ts
  src/lib/ecosystems/resolve-test-facts.ts
  src/lib/snyk-test/legacy.ts
  test/jest/unit/lib/ecosystems/fixtures/depgraph-data.ts
  test/jest/unit/lib/ecosystems/fixtures/index.ts
  test/jest/unit/lib/ecosystems/fixtures/scan-results.ts
  test/jest/unit/lib/ecosystems/resolve-test-facts.spec.ts
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

test(protect): update to match fix pr setup
  packages/snyk-protect/test/acceptance/fix-pr-prepublish-hook.smoke.spec.ts
  packages/snyk-protect/test/acceptance/fix-pr.smoke.spec.ts
  packages/snyk-protect/test/fixtures/fix-pr-prepublish-hook/package.json
  packages/snyk-protect/test/fixtures/fix-pr/.snyk
  packages/snyk-protect/test/fixtures/fix-pr/package.json
  packages/snyk-protect/test/util/createProject.ts
  packages/snyk-protect/test/util/runCommand.ts
  packages/snyk-protect/test/util/useLocalPackage.ts
Owners: @snyk/hammer

chore(protect): fix production test caching
  .github/workflows/snyk-protect-production-smoke-tests.yml
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

fix: bump docker plugin version with fixes
  package.json
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

test: migrate trust-policies to jest
  test/jest/acceptance/snyk-test/trust-policies.spec.ts
  test/policy-trust-deep.test.ts
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

fix: propagate userMessage to 404 errors
  src/lib/errors/index.ts
  src/lib/errors/non-existing-package-error.ts
  src/lib/errors/not-found-error.ts
  src/lib/snyk-test/run-test.ts
  test/acceptance/cli-test/cli-test.generic.spec.ts
  test/acceptance/fake-server.ts
  test/smoke/spec/snyk_test_spec.sh
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

docs: update protect readme
  packages/snyk-protect/README.md
Owners: @snyk/hammer

feat: central colors theme
  src/cli/commands/protect/prompts.ts
  src/lib/formatters/iac-output.ts
  src/lib/formatters/legacy-format-issue.ts
  src/lib/formatters/remediation-based-format-issues.ts
  src/lib/plugins/sast/format/output-format.ts
  src/lib/snyk-test/common.ts
  src/lib/theme.ts
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra, @snyk/sast-team

feat: Centralize icons and err messages by theme
  scripts/check-dependencies.ts
  src/cli/commands/fix/index.ts
  src/cli/commands/protect/prompts.ts
  src/cli/commands/protect/wizard.ts
  src/cli/commands/test/validate-test-options.ts
  src/lib/formatters/iac-output.ts
  src/lib/formatters/remediation-based-format-issues.ts
  src/lib/formatters/test/display-result.ts
  src/lib/plugins/get-deps-from-plugin.ts
  src/lib/plugins/get-multi-plugin-result.ts
  src/lib/plugins/sast/format/output-format.ts
  src/lib/snyk-test/run-test.ts
  test/acceptance/cli-test/cli-test.all-projects.spec.ts
  test/acceptance/cli-test/cli-test.yarn-workspaces.spec.ts
  test/fixtures/demo-os/core/test/unit/server_utils_spec.js
  test/system/remote-package.test.ts
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra, @snyk/sast-team

feat: track IaC local execution tests [CC-972]
  src/cli/commands/test/iac-local-execution/analytics.ts
  src/cli/commands/test/iac-local-execution/index.ts
  src/cli/commands/test/iac-local-execution/measurable-methods.ts
  src/cli/commands/test/iac-local-execution/usage-tracking.ts
  test/acceptance/fake-server.ts
  test/jest/unit/iac-unit-tests/usage-tracking.spec.ts
Owners: @snyk/cloudconfig, @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

refactor: use await syntax rather than callbacks
  src/lib/analytics.ts
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

refactor: call anaytics module the right way
  src/lib/analytics.ts
  src/lib/protect/apply-patch.js
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

test: use binary from cdn for smoke tests
  .github/workflows/smoke-tests.yml
  test/smoke/alpine/entrypoint.sh
  test/smoke/install-snyk-binary-win.sh
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

refactor: move analytics to sub-module
  src/lib/analytics/index.ts
  src/lib/analytics/sources.ts
  src/lib/query-strings.ts
  test/analytics.test.ts
  test/jest/unit/analytics-sources.spec.ts
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

chore: add `clean` npm script to remove ts output
  package.json
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

fix: update plugins package versions
  package.json
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

chore: skip Yarn Smoke Tests on Node 10
  .github/workflows/smoke-tests.yml
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

chore: disable strict engines check in npmrc
  .npmrc
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

feat: add --help to snyk protect
  packages/snyk-protect/help.txt
  packages/snyk-protect/src/lib/index.ts
  packages/snyk-protect/test/acceptance/protect.spec.ts
  packages/snyk-protect/test/fixtures/help-flag/README.md
  packages/snyk-protect/test/fixtures/help-flag/package.json
  packages/snyk-protect/test/fixtures/version-flag/README.md
  packages/snyk-protect/test/fixtures/version-flag/package.json
Owners: @snyk/hammer

chore: stop collecting payloadSize in analytics
  src/lib/request/request.ts
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

fix: IaC multi-doc yaml indexing
  src/cli/commands/test/iac-local-execution/extract-line-number.ts
  src/cli/commands/test/iac-local-execution/results-formatter.ts
  test/jest/unit/iac-unit-tests/results-formatter.fixtures.ts
Owners: @snyk/cloudconfig

test: add acceptance test for yaml line numbers
  test/fixtures/iac/kubernetes/pod-privileged-multi.yaml
  test/jest/acceptance/iac/multidoc-yaml.spec.ts
Owners: @snyk/cloudconfig

test: colorTextBySeverity tests
  test/jest/unit/common.spec.ts
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

refactor: use named export in request module
  src/cli/commands/auth/index.ts
  src/cli/commands/auth/is-authed.ts
  src/cli/commands/test/iac-local-execution/org-settings/get-iac-org-settings.ts
  src/cli/commands/test/iac-local-execution/usage-tracking.ts
  src/lib/analytics/index.ts
  src/lib/authorization.ts
  src/lib/feature-flags.ts
  src/lib/iac/iac-parser.ts
  src/lib/monitor/index.ts
  src/lib/plugins/sast/checks.ts
  src/lib/protect/fetch-patch.ts
  src/lib/request/index.ts
  src/lib/request/promise.ts
  src/lib/request/request.ts
  src/lib/snyk-test/run-test.ts
  test/analytics.test.ts
  test/jest/system/snyk-test/python/snyk-test-pyproject.spec.ts
  test/jest/unit/iac-unit-tests/usage-tracking.spec.ts
  test/patch-fetch-fail.test.ts
  test/proxy.test.js
  test/request.test.ts
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra, @snyk/cloudconfig, @snyk/sast-team

test: fix import path
  test/jest/unit/iac-unit-tests/results-formatter.spec.ts
Owners: @snyk/cloudconfig

fix: use correct exit codes for docker entrypoint
  docker/docker-entrypoint.sh
  docker/docker-python-entrypoint.sh
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

chore: execute snyk and snyk-protect using bin file
  bin/snyk
  package.json
  packages/snyk-fix/package.json
  packages/snyk-protect/bin/snyk-protect
  packages/snyk-protect/package.json
  packages/snyk-protect/src/index.ts
  packages/snyk-protect/test/acceptance/protect.spec.ts
  scripts/run-smoke-tests-locally.sh
  test/acceptance/cli-protect.test.ts
  test/jest/acceptance/cli-json-file-output.spec.ts
  test/jest/acceptance/iac/helpers.ts
  test/jest/acceptance/proxy-behavior.spec.ts
  test/jest/system/lib/commands/fix/fix.spec.ts
  test/jest/util/runSnykCLI.ts
  test/smoke/setup-alias-for-snyk.sh
  test/smoke/spec/spec_helper.sh
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra, @snyk/tech-services, @snyk/cloudconfig

feat: expose scan result to formatters
  src/lib/snyk-test/legacy.ts
  src/lib/snyk-test/run-test.ts
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

feat: display dockerfile warnings
  src/lib/formatters/test/format-test-results.ts
  test/acceptance/workspaces/fail-on/docker/warning/dockerfile-base-image-name-not-found.json
  test/acceptance/workspaces/fail-on/docker/warning/dockerfile-base-image-non-resolvable.json
  test/jest/unit/lib/formatters/test/__snapshots__/display-result.spec.ts.snap
  test/jest/unit/lib/formatters/test/display-result.spec.ts
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

fix: IaC path parsing
  package.json
  src/cli/commands/test/iac-local-execution/parsers/path.ts
  src/cli/commands/test/iac-local-execution/results-formatter.ts
  test/jest/unit/iac-unit-tests/path-parser.spec.ts
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra, @snyk/cloudconfig

chore: remove broken release notes action
  .github/workflows/release-notes.yml
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

test: add acceptance test for analytics
  test/acceptance/fake-server.ts
  test/jest/acceptance/analytics.spec.ts
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

test: migrate fail-on to jest
  test/acceptance/cli-fail-on.test.ts
  test/acceptance/fake-server.ts
  test/jest/acceptance/snyk-test/fail-on.spec.ts
  test/jest/util/createProject.ts
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

chore: ignore binary-releases directory
  .gitignore
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

chore: compress binary releases
  release-scripts/make-binaries.sh
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra

chore: remove unused semantic-release rc
  .releaserc
Owners: @snyk/hammer, @snyk/loki, @snyk/tardis, @snyk/tundra
