Repository frontend-provider/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @snyk/hammer, @snyk/snyk-open-source, @snyk/tech-services, @snyk/group-infrastructure-as-code, @snyk/moose, @snyk/mycelium, @snyk/zenith, @snyk/potion, @snyk/nebula, @snyk/tundra

.github/CODEOWNERS:

*  @snyk/hammer @snyk/snyk-open-source

# monorepo packages
packages/snyk-fix/ @snyk/tech-services
packages/snyk-protect/ @snyk/hammer
packages/cli-alert/ @snyk/hammer

README.md  @snyk/hammer
CONTRIBUTING.md @snyk/hammer
.circleci @snyk/hammer

cliv2/ @snyk/hammer
release-scripts/hcl-to-json-parser-generator/ @snyk/group-infrastructure-as-code
release-scripts/hcl-to-json-parser-generator-v2/ @snyk/group-infrastructure-as-code
src/cli/commands/test @snyk/snyk-open-source
src/cli/commands/monitor @snyk/snyk-open-source
help/  @snyk/hammer
help/cli-commands/iac*.md @snyk/group-infrastructure-as-code @snyk/hammer 
src/cli/commands/test/iac/ @snyk/group-infrastructure-as-code
src/cli/commands/describe.ts @snyk/group-infrastructure-as-code
src/cli/commands/update-exclude-policy.ts @snyk/group-infrastructure-as-code
src/cli/commands/apps @snyk/moose
src/lib/apps @snyk/moose
src/lib/container @snyk/mycelium
src/lib/plugins @snyk/snyk-open-source
test/fixtures/sast/ @snyk/zenith
src/lib/plugins/sast/ @snyk/zenith
test/jest/unit/snyk-code/ @snyk/zenith
src/lib/formatters/iac-output/ @snyk/group-infrastructure-as-code
src/lib/iac/ @snyk/group-infrastructure-as-code
src/lib/snyk-test/iac-test-result.ts @snyk/group-infrastructure-as-code
test/fixtures/basic-apk/ @snyk/mycelium
test/fixtures/container-app-vulns/ @snyk/mycelium
test/fixtures/container-projects/ @snyk/mycelium @snyk/potion
test/fixtures/docker/ @snyk/mycelium @snyk/potion
test/fixtures/iac/ @snyk/group-infrastructure-as-code
test/smoke/iac/ @snyk/group-infrastructure-as-code
test/smoke/spec/iac/ @snyk/group-infrastructure-as-code
test/smoke/spec/snyk_code_spec.sh @snyk/zenith
test/smoke/spec/snyk_basic_spec.sh @snyk/hammer
test/smoke/.iac-data/ @snyk/group-infrastructure-as-code
test/jest/unit/lib/endpoint-config-test.spec.ts @snyk/nebula
test/jest/unit/lib/formatters/iac-output/ @snyk/group-infrastructure-as-code
test/jest/unit/lib/formatters/test/format-test-results.spec.ts @snyk/hammer @snyk/snyk-open-source @snyk/mycelium
test/jest/unit/iac/ @snyk/group-infrastructure-as-code
test/jest/unit/cli/commands/test/iac @snyk/group-infrastructure-as-code
test/jest/unit/lib/iac/ @snyk/group-infrastructure-as-code
test/jest/acceptance/iac/ @snyk/group-infrastructure-as-code
test/jest/acceptance/snyk-apps @snyk/moose
src/lib/code-config.ts @snyk/nebula
src/lib/errors/describe-required-argument-error.ts @snyk/group-infrastructure-as-code
src/lib/errors/describe-exclusive-argument-error.ts @snyk/group-infrastructure-as-code
src/lib/errors/no-supported-sast-files-found.ts @snyk/zenith
help/commands-docs/iac-examples.md @snyk/group-infrastructure-as-code
help/commands-docs/iac.md @snyk/group-infrastructure-as-code
test/jest/util/ @snyk/hammer
dangerfile.js @snyk/hammer
/package.json @snyk/hammer
/package-lock.json @snyk/hammer
/config.default.js @snyk/hammer
/webpack.common.js @snyk/hammer
/webpack.dev.js @snyk/hammer
/webpack.prod.js @snyk/hammer
/tsconfig.json @snyk/hammer
/tsconfig.settings.json @snyk/hammer
CODEOWNERS @snyk/hammer
/docker @snyk/hammer
src/cli/commands/log4shell-hashes.ts @snyk/tundra
src/cli/commands/log4shell.ts @snyk/tundra
test/fixtures/unmanaged-log4j-fixture @snyk/tundra
test/jest/acceptance/snyk-log4shell/log4shell-detection.spec.ts @snyk/tundra
test/jest/acceptance/snyk-test/app-vuln-container-project.spec.ts @snyk/mycelium
/.github @snyk/hammer
/.github/workflows/iac-smoke-tests.yml @snyk/group-infrastructure-as-code
/.github/workflows/iac-smoke-tests-pulls.yml @snyk/group-infrastructure-as-code

# tap tests ownership
test/tap/cli-monitor/ @snyk/snyk-open-source
test/tap/cli-test/ @snyk/snyk-open-source
test/tap/args.test.ts @snyk/hammer
test/tap/auth.test.ts @snyk/hammer
test/tap/cli-fail-on-docker.test.ts @snyk/hammer
test/tap/cli-fail-on-pinnable.test.ts @snyk/snyk-open-source
test/tap/cli-monitor.acceptance.test.ts @snyk/snyk-open-source
test/tap/cli-test.acceptance.test.ts @snyk/snyk-open-source
test/tap/cli.test.ts @snyk/hammer
test/tap/container.test.ts @snyk/potion
test/tap/display-test-results.test.ts @snyk/snyk-open-source
test/tap/docker-token.test.ts @snyk/potion
test/tap/endpoint-config.test.ts @snyk/hammer
test/tap/find-files.test.ts @snyk/snyk-open-source
test/tap/monitor-target.test.ts @snyk/snyk-open-source
test/tap/proxy.test.js @snyk/hammer
test/tap/remote-package.test.ts @snyk/snyk-open-source
test/tap/request.test.ts @snyk/hammer
test/tap/run-test.test.ts @snyk/snyk-open-source
test/tap/severity-threshold.test.ts @snyk/snyk-open-source
test/tap/sln-app.test.ts @snyk/snyk-open-source
test/tap/sub-process.test.js @snyk/snyk-open-source
test/tap/user-config.test.ts @snyk/snyk-open-source
test/tap/vulnerable-path-output.js @snyk/snyk-open-source

# protect
test/tap/cli-protect-no-vulns-to-patch.test.ts @snyk/hammer
test/tap/patch-fetch-fail.test.ts @snyk/hammer
test/tap/cli-protect.test.ts @snyk/hammer
test/tap/protect-apply-same-patch-again.test.js @snyk/hammer
test/tap/protect-config.test.ts @snyk/hammer
test/tap/protect-factors-pre-tarred.test.ts @snyk/hammer
test/tap/protect-fail.test.js @snyk/hammer
test/tap/protect-ignore.test.js @snyk/hammer
test/tap/protect-patch-filter.test.js @snyk/hammer
test/tap/protect-patch-order.test.ts @snyk/hammer
test/tap/protect-patch-same-pkg.test.js @snyk/hammer
test/tap/protect-semver-patch.test.ts @snyk/hammer

fix: improve go file path determination
  package-lock.json
  package.json
Owners: @snyk/hammer

chore: Upgrade snyk-iac-test to v0.36.3
  src/lib/iac/test/v2/local-cache/policy-engine/constants/utils.ts
Owners: @snyk/group-infrastructure-as-code

chore: support oauth tokens
  src/lib/iac/test/v2/scan/index.ts
Owners: @snyk/group-infrastructure-as-code

chore: bump snyk-iac-test
  src/lib/iac/test/v2/local-cache/policy-engine/constants/utils.ts
Owners: @snyk/group-infrastructure-as-code

feat: Upgrade snyk-iac-test to v0.36.5
  src/lib/iac/test/v2/local-cache/policy-engine/constants/utils.ts
Owners: @snyk/group-infrastructure-as-code

chore: create consecutive iac smoke test failures workflow
  .github/workflows/iac-cli-alert.yml
  package-lock.json
  packages/iac-cli-alert/jest.config.js
  packages/iac-cli-alert/package-lock.json
  packages/iac-cli-alert/package.json
  packages/iac-cli-alert/src/index.ts
Owners: @snyk/hammer, @snyk/snyk-open-source

chore: remove previous alerts job
  .github/workflows/iac-smoke-tests.yml
Owners: @snyk/group-infrastructure-as-code

docs: synchronizing help from snyk/user-docs
  help/cli-commands/code-test.md
  help/cli-commands/container-test.md
  help/cli-commands/iac-test.md
  help/cli-commands/ignore.md
  help/cli-commands/monitor.md
  help/cli-commands/test.md
Owners: @snyk/hammer, @snyk/group-infrastructure-as-code

fix: bump snyk-gradle-plugin to 3.24.5
  .snyk
  package-lock.json
  package.json
Owners: @snyk/hammer, @snyk/snyk-open-source

fix: update snyk-docker-plugin
  package-lock.json
  package.json
Owners: @snyk/hammer

feat: base64 default for sast analysis
  package-lock.json
  package.json
  src/lib/code-config.ts
  src/lib/plugins/sast/analysis.ts
  test/jest/acceptance/snyk-code-config/snyk-code-config.spec.ts
  test/jest/unit/snyk-code/snyk-code-config.spec.ts
  test/jest/unit/snyk-code/snyk-code-test.spec.ts
Owners: @snyk/hammer, @snyk/nebula, @snyk/zenith, @snyk/snyk-open-source

feat: upgrade snyk-iac-test to v0.37.0
  src/lib/iac/test/v2/local-cache/policy-engine/constants/utils.ts
Owners: @snyk/group-infrastructure-as-code

fix: use lenient config in gradle plugin
  package-lock.json
  package.json
Owners: @snyk/hammer

feat: support sev.threshold for unm.-deps
  src/lib/ecosystems/resolve-test-facts.ts
  src/lib/ecosystems/unmanaged/types.ts
Owners: @snyk/hammer, @snyk/snyk-open-source

fix: escape child process arguments
  package-lock.json
  package.json
Owners: @snyk/hammer

chore: update version of application framework
  cliv2/go.mod
  cliv2/go.sum
Owners: @snyk/hammer

feat: update unmanaged endpoints
  src/lib/config/api-url.ts
  src/lib/config/index.ts
  src/lib/ecosystems/resolve-test-facts.ts
  src/lib/ecosystems/unmanaged/utils.ts
  src/lib/polling/polling-test.ts
Owners: @snyk/hammer, @snyk/snyk-open-source

fix: merge scopes in sbt projects
  package-lock.json
  package.json
Owners: @snyk/hammer

feat: support local extensions
  cliv2/cmd/cliv2/main.go
  cliv2/cmd/cliv2/main_test.go
  cliv2/go.mod
  cliv2/go.sum
  cliv2/internal/cliv2/cliv2.go
  cliv2/pkg/basic_workflows/legacycli.go
Owners: @snyk/hammer

fix: not proxying local socket requests [HMMR-601]
  .circleci/config.yml
  .gitignore
  package-lock.json
  package.json
  patches/global-agent+2.2.0.patch
  release-scripts/validate-npm-artifacts.sh
Owners: @snyk/hammer, @snyk/snyk-open-source

chore: update to new application framework version
  cliv2/go.mod
  cliv2/go.sum
  cliv2/pkg/basic_workflows/legacycli.go
Owners: @snyk/hammer

feat: disable container app scan with feature flag
  src/cli/commands/monitor/index.ts
  src/cli/commands/test/index.ts
  test/acceptance/fake-server.ts
  test/jest/acceptance/cli-args.spec.ts
  test/tap/cli-fail-on-docker.test.ts
  test/tap/cli-monitor.acceptance.test.ts
Owners: @snyk/snyk-open-source, @snyk/hammer

fix: upgrade http client
  package-lock.json
  package.json
  src/lib/request/promise.ts
  src/lib/request/request.ts
  src/lib/request/types.ts
Owners: @snyk/hammer, @snyk/snyk-open-source

chore: wrap osName() in try-catch
  src/lib/analytics/getStandardData.ts
Owners: @snyk/hammer, @snyk/snyk-open-source

fix: use JSON.parse to avoid OOM error
  package-lock.json
  package.json
  src/cli/commands/test/iac/local-execution/yaml-parser.ts
Owners: @snyk/hammer, @snyk/group-infrastructure-as-code

fix: use /rest/packages when searching by checksum
  package-lock.json
  package.json
Owners: @snyk/hammer

fix: handle self being undefined
  src/lib/ecosystems/resolve-test-facts.ts
Owners: @snyk/hammer, @snyk/snyk-open-source

chore: update formatting in sbt plugin
  package-lock.json
  package.json
Owners: @snyk/hammer

chore: integrate sbom extension and …
  cliv2/cmd/cliv2/main.go
  cliv2/go.mod
  cliv2/go.sum
  cliv2/internal/cliv2/cliv2.go
  test/jest/acceptance/analytics.spec.ts
  test/jest/acceptance/iac/cli-share-results.spec.ts
  test/jest/acceptance/snyk-fix/fix.spec.ts
  test/jest/acceptance/snyk-test/fail-on.spec.ts
  test/jest/acceptance/snyk-test/missing-node-modules.spec.ts
  test/jest/acceptance/snyk-test/snyk-test-local-policy-file.spec.ts
Owners: @snyk/hammer, @snyk/snyk-open-source, @snyk/group-infrastructure-as-code

fix: improve the time interval for retries during test of unmanaged
  src/lib/ecosystems/resolve-test-facts.ts
Owners: @snyk/hammer, @snyk/snyk-open-source

chore: clean old versions in cache directory
  cliv2/internal/cliv2/cliv2.go
  cliv2/internal/cliv2/cliv2_test.go
Owners: @snyk/hammer

fix: upgrade snyk docker plugin
  package-lock.json
  package.json
Owners: @snyk/hammer

feat: add swiftpm support for test command
  package-lock.json
  package.json
  src/lib/detect.ts
  src/lib/package-managers.ts
  src/lib/plugins/index.ts
  test/acceptance/workspaces/swift-app/Package.swift
  test/fixtures/basic-swift/Package.swift
  test/tap/cli-test.acceptance.test.ts
  test/tap/cli-test/cli-test.swift.spec.ts
Owners: @snyk/hammer, @snyk/snyk-open-source

feat: Upgrade snyk-iac-test to v0.37.2
  src/lib/iac/test/v2/local-cache/policy-engine/constants/utils.ts
Owners: @snyk/group-infrastructure-as-code

chore: update os-name and adapt import
  package-lock.json
  package.json
  src/lib/analytics/getStandardData.ts
  test/jest/acceptance/cli-args.spec.ts
  test/jest/unit/json-file-output.spec.ts
  test/jest/unit/snyk-code/snyk-code-test.spec.ts
  test/tap/cli-monitor.acceptance.test.ts
Owners: @snyk/hammer, @snyk/snyk-open-source, @snyk/zenith

fix: integrate support of NODE_EXTRA_CA_CERTS
  .circleci/config.yml
  cliv2/cmd/cliv2/main.go
  cliv2/cmd/make-cert/main.go
  cliv2/go.mod
  cliv2/go.sum
  cliv2/internal/certs/certs.go
  cliv2/internal/proxy/proxy.go
  cliv2/internal/proxy/proxy_test.go
  cliv2/pkg/basic_workflows/legacycli.go
  test/acceptance/fake-server.ts
  test/jest/acceptance/extra-certs.spec.ts
Owners: @snyk/hammer, @snyk/snyk-open-source

feat: add unmanaged analytics
  src/lib/ecosystems/resolve-test-facts.ts
Owners: @snyk/hammer, @snyk/snyk-open-source

feat: yarn lock v2 support plus improvements
  package-lock.json
  package.json
  src/lib/plugins/nodejs-plugin/index.ts
  src/lib/plugins/nodejs-plugin/npm-lock-parser.ts
  test/acceptance/workspaces/yarn-lock-v2-vuln/package.json
  test/acceptance/workspaces/yarn-lock-v2-vuln/yarn.lock
  test/jest/acceptance/snyk-test/all-projects.spec.ts
  test/tap/cli-monitor/cli-monitor.all-projects.spec.ts
  test/tap/cli-test/cli-test.yarn.spec.ts
Owners: @snyk/hammer, @snyk/snyk-open-source

chore: release golang cli on linux
  .circleci/config.yml
Owners: @snyk/hammer

chore: release golang cli on linux arm64
  .circleci/config.yml
Owners: @snyk/hammer
