Repository frontend-provider/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @snyk/hammerhead, @snyk/snyk-open-source, @snyk/tech-services, @snyk/group-infrastructure-as-code, @snyk/moose, @snyk/mycelium, @snyk/zenith, @snyk/potion, @snyk/nebula, @snyk/tundra

.github/CODEOWNERS:

*  @snyk/hammerhead @snyk/snyk-open-source

# monorepo packages
packages/snyk-fix/ @snyk/tech-services
packages/snyk-protect/ @snyk/hammerhead
packages/cli-alert/ @snyk/hammerhead
packages/iac-cli-alert/ @snyk/group-infrastructure-as-code

README.md  @snyk/hammerhead
CONTRIBUTING.md @snyk/hammerhead
.circleci @snyk/hammerhead

cliv2/ @snyk/hammerhead
release-scripts/hcl-to-json-parser-generator/ @snyk/group-infrastructure-as-code
release-scripts/hcl-to-json-parser-generator-v2/ @snyk/group-infrastructure-as-code
src/cli/commands/test @snyk/snyk-open-source
src/cli/commands/monitor @snyk/snyk-open-source
help/  @snyk/hammerhead
src/cli/commands/test/iac/ @snyk/group-infrastructure-as-code
src/cli/commands/describe.ts @snyk/group-infrastructure-as-code
src/cli/commands/update-exclude-policy.ts @snyk/group-infrastructure-as-code
src/cli/commands/apps @snyk/moose
src/lib/apps @snyk/moose
src/lib/container @snyk/mycelium
src/lib/plugins @snyk/snyk-open-source
test/fixtures/sast/ @snyk/zenith
src/lib/plugins/sast/ @snyk/zenith
test/jest/unit/snyk-code/ @snyk/zenith
src/lib/formatters/iac-output/ @snyk/group-infrastructure-as-code
src/lib/iac/ @snyk/group-infrastructure-as-code
src/lib/snyk-test/iac-test-result.ts @snyk/group-infrastructure-as-code
test/fixtures/basic-apk/ @snyk/mycelium
test/fixtures/container-app-vulns/ @snyk/mycelium
test/fixtures/container-projects/ @snyk/mycelium @snyk/potion
test/fixtures/docker/ @snyk/mycelium @snyk/potion
test/fixtures/iac/ @snyk/group-infrastructure-as-code
test/smoke/iac/ @snyk/group-infrastructure-as-code
test/smoke/spec/iac/ @snyk/group-infrastructure-as-code
test/smoke/spec/snyk_code_spec.sh @snyk/zenith
test/smoke/spec/snyk_basic_spec.sh @snyk/hammerhead
test/smoke/.iac-data/ @snyk/group-infrastructure-as-code
test/jest/unit/lib/endpoint-config-test.spec.ts @snyk/nebula
test/jest/unit/lib/formatters/iac-output/ @snyk/group-infrastructure-as-code
test/jest/unit/lib/formatters/test/format-test-results.spec.ts @snyk/hammerhead @snyk/snyk-open-source @snyk/mycelium
test/jest/unit/iac/ @snyk/group-infrastructure-as-code
test/jest/unit/cli/commands/test/iac @snyk/group-infrastructure-as-code
test/jest/unit/lib/iac/ @snyk/group-infrastructure-as-code
test/jest/acceptance/iac/ @snyk/group-infrastructure-as-code
test/jest/acceptance/snyk-apps @snyk/moose
src/lib/code-config.ts @snyk/nebula
src/lib/errors/describe-required-argument-error.ts @snyk/group-infrastructure-as-code
src/lib/errors/describe-exclusive-argument-error.ts @snyk/group-infrastructure-as-code
src/lib/errors/no-supported-sast-files-found.ts @snyk/zenith
test/jest/util/ @snyk/hammerhead
dangerfile.js @snyk/hammerhead
/package.json @snyk/hammerhead
/package-lock.json @snyk/hammerhead
/config.default.js @snyk/hammerhead
/webpack.common.js @snyk/hammerhead
/webpack.dev.js @snyk/hammerhead
/webpack.prod.js @snyk/hammerhead
/tsconfig.json @snyk/hammerhead
/tsconfig.settings.json @snyk/hammerhead
CODEOWNERS @snyk/hammerhead
/docker @snyk/hammerhead
src/cli/commands/log4shell-hashes.ts @snyk/tundra
src/cli/commands/log4shell.ts @snyk/tundra
test/fixtures/unmanaged-log4j-fixture @snyk/tundra
test/jest/acceptance/snyk-log4shell/log4shell-detection.spec.ts @snyk/tundra
test/jest/acceptance/snyk-test/app-vuln-container-project.spec.ts @snyk/mycelium
/.github @snyk/hammerhead
/.github/workflows/iac-smoke-tests.yml @snyk/group-infrastructure-as-code
/.github/workflows/iac-smoke-tests-pulls.yml @snyk/group-infrastructure-as-code

# tap tests ownership
test/tap/cli-monitor/ @snyk/snyk-open-source
test/tap/cli-test/ @snyk/snyk-open-source
test/tap/args.test.ts @snyk/hammerhead
test/tap/auth.test.ts @snyk/hammerhead
test/tap/cli-fail-on-docker.test.ts @snyk/hammerhead
test/tap/cli-fail-on-pinnable.test.ts @snyk/snyk-open-source
test/tap/cli-monitor.acceptance.test.ts @snyk/snyk-open-source
test/tap/cli-test.acceptance.test.ts @snyk/snyk-open-source
test/tap/cli.test.ts @snyk/hammerhead
test/tap/container.test.ts @snyk/potion
test/tap/display-test-results.test.ts @snyk/snyk-open-source
test/tap/docker-token.test.ts @snyk/potion
test/tap/endpoint-config.test.ts @snyk/hammerhead
test/tap/find-files.test.ts @snyk/snyk-open-source
test/tap/monitor-target.test.ts @snyk/snyk-open-source
test/tap/proxy.test.js @snyk/hammerhead
test/tap/remote-package.test.ts @snyk/snyk-open-source
test/tap/request.test.ts @snyk/hammerhead
test/tap/run-test.test.ts @snyk/snyk-open-source
test/tap/severity-threshold.test.ts @snyk/snyk-open-source
test/tap/sln-app.test.ts @snyk/snyk-open-source
test/tap/sub-process.test.js @snyk/snyk-open-source
test/tap/user-config.test.ts @snyk/snyk-open-source
test/tap/vulnerable-path-output.js @snyk/snyk-open-source

# protect
test/tap/cli-protect-no-vulns-to-patch.test.ts @snyk/hammerhead
test/tap/patch-fetch-fail.test.ts @snyk/hammerhead
test/tap/cli-protect.test.ts @snyk/hammerhead
test/tap/protect-apply-same-patch-again.test.js @snyk/hammerhead
test/tap/protect-config.test.ts @snyk/hammerhead
test/tap/protect-factors-pre-tarred.test.ts @snyk/hammerhead
test/tap/protect-fail.test.js @snyk/hammerhead
test/tap/protect-ignore.test.js @snyk/hammerhead
test/tap/protect-patch-filter.test.js @snyk/hammerhead
test/tap/protect-patch-order.test.ts @snyk/hammerhead
test/tap/protect-patch-same-pkg.test.js @snyk/hammerhead
test/tap/protect-semver-patch.test.ts @snyk/hammerhead

chore: ignore .build folder for swift
  src/lib/find-files.ts
  test/tap/find-files.test.ts
Owners: @snyk/hammerhead, @snyk/snyk-open-source

feat: update snyk-iac-test to v0.37.3
  src/lib/iac/test/v2/local-cache/policy-engine/constants/utils.ts
Owners: @snyk/group-infrastructure-as-code

fix: prettier
  src/lib/find-files.ts
  test/tap/find-files.test.ts
Owners: @snyk/hammerhead, @snyk/snyk-open-source

fix: tests
  test/fixtures/find-files/.build/dependency/Package.swift
Owners: @snyk/hammerhead, @snyk/snyk-open-source

fix: naming
  test/tap/find-files.test.ts
Owners: @snyk/snyk-open-source

fix: ignore .build find for swift
  src/lib/find-files.ts
Owners: @snyk/hammerhead, @snyk/snyk-open-source

fix: Correctly parse the remote URLs set by actions/checkokut
  src/cli/commands/test/iac/meta.ts
  test/jest/unit/cli/commands/test/iac/meta.spec.ts
Owners: @snyk/group-infrastructure-as-code

chore: make win signing more consistent
  .circleci/config.yml
  Makefile
  cliv2/scripts/sign_windows.sh
  release-scripts/sign-windows-binary.sh
Owners: @snyk/hammerhead, @snyk/snyk-open-source

fix: ensure .build is end of path
  src/lib/find-files.ts
Owners: @snyk/hammerhead, @snyk/snyk-open-source

feat: test for ignore logic
  test/fixtures/find-files/swift/test.build/Package.swift
  test/tap/find-files.test.ts
Owners: @snyk/hammerhead, @snyk/snyk-open-source

fix: exclude .build folder
  test/tap/find-files.test.ts
Owners: @snyk/snyk-open-source
