Repository frontend-provider/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @snyk/hammer, @snyk/snyk-open-source, @snyk/tech-services, @snyk/group-infrastructure-as-code, @snyk/moose, @snyk/mycelium, @snyk/zenith, @snyk/potion, @snyk/nebula, @snyk/tundra

feat: Upgrade snyk-iac-test to v0.33.3
  src/lib/iac/test/v2/local-cache/policy-engine/constants/utils.ts
Owners: @snyk/group-infrastructure-as-code

chore: integrate go-application-framework and replace …
  cliv2/cmd/cliv2/main.go
  cliv2/go.mod
  cliv2/go.sum
  cliv2/internal/analytics/analytics.go
  cliv2/internal/analytics/analytics_test.go
  cliv2/internal/configuration/configuration.go
  cliv2/internal/configuration/configuration_test.go
  cliv2/internal/utils/api_tokens.go
Owners: @snyk/hammer

feat: disable container app scan with feature flag
  src/cli/commands/monitor/index.ts
  src/cli/commands/test/index.ts
  test/acceptance/fake-server.ts
  test/jest/acceptance/cli-args.spec.ts
  test/tap/cli-fail-on-docker.test.ts
  test/tap/cli-monitor.acceptance.test.ts
Owners: @snyk/snyk-open-source, @snyk/hammer

feat: Upgrade snyk-iac-test to v0.33.4
  src/cli/commands/test/iac/local-execution/process-results/results-formatter.ts
  src/cli/commands/test/iac/local-execution/types.ts
  src/cli/commands/test/iac/v2/index.ts
  src/lib/iac/test/v2/json.ts
  src/lib/iac/test/v2/local-cache/policy-engine/constants/utils.ts
  src/lib/iac/test/v2/output.ts
  src/lib/iac/test/v2/scan/index.ts
  src/lib/iac/test/v2/scan/results.ts
  src/lib/iac/test/v2/types.ts
  test/jest/unit/cli/commands/test/iac/v2/index.spec.ts
  test/jest/unit/iac/process-results/fixtures/integrated-json-output.json
  test/jest/unit/iac/process-results/fixtures/snyk-iac-test-results.json
  test/jest/unit/iac/results-formatter.fixtures.ts
  test/jest/unit/lib/iac/test/v2/json.spec.ts
Owners: @snyk/group-infrastructure-as-code

feat: Upgrade snyk-iac-test to v0.33.5
  src/lib/iac/test/v2/local-cache/policy-engine/constants/utils.ts
Owners: @snyk/group-infrastructure-as-code

chore: print dep graph if --print-graph is used
  src/lib/snyk-test/run-test.ts
  test/fixtures/print-graph-multiple-projects/proj1/package.json
  test/fixtures/print-graph-multiple-projects/proj2/package.json
  test/fixtures/print-graph-no-deps/package.json
  test/jest/acceptance/print-graph.spec.ts
Owners: @snyk/hammer, @snyk/snyk-open-source

fix: do not proxy traffic to sockets
  package-lock.json
  package.json
  scripts/apply-patches.sh
  vendor/global-agent-socket-exception.patch
Owners: @snyk/hammer, @snyk/snyk-open-source

feat: IaC --report smoke testing
  .github/workflows/iac-smoke-tests.yml
  test/smoke/iac/README.md
  test/smoke/iac/test.spec.ts
Owners: @snyk/group-infrastructure-as-code

feat: do not download bundle in cli
  src/cli/commands/test/iac/local-execution/types.ts
  src/lib/iac/test/v2/errors.ts
  src/lib/iac/test/v2/local-cache/index.ts
  src/lib/iac/test/v2/local-cache/policy-engine/constants/utils.ts
  src/lib/iac/test/v2/local-cache/rules-bundle/download.ts
  src/lib/iac/test/v2/local-cache/rules-bundle/index.ts
  src/lib/iac/test/v2/local-cache/rules-bundle/lookup-local.ts
  test/jest/unit/cli/commands/test/iac/v2/index.spec.ts
  test/jest/unit/lib/iac/test/v2/setup/local-cache/index.spec.ts
  test/jest/unit/lib/iac/test/v2/setup/local-cache/rules-bundle/download.spec.ts
  test/jest/unit/lib/iac/test/v2/setup/local-cache/rules-bundle/lookup-local.spec.ts
Owners: @snyk/group-infrastructure-as-code

chore: preserve system proxy in golang cli
  cliv2/internal/cliv2/cliv2.go
  cliv2/internal/cliv2/cliv2_test.go
  cliv2/internal/constants/constants.go
  cliv2/internal/utils/array.go
Owners: @snyk/hammer

feat: Upgrade snyk-iac-test to v0.34.1
  src/lib/iac/test/v2/local-cache/policy-engine/constants/utils.ts
Owners: @snyk/group-infrastructure-as-code

fix: restore system proxy for describe
  src/lib/iac/drift/driftctl.ts
Owners: @snyk/group-infrastructure-as-code

fix: fixing typo to trigger a failed release
  src/lib/iac/drift/driftctl.ts
Owners: @snyk/group-infrastructure-as-code

feat: add error code to iac json output
  src/lib/iac/test/v2/json.ts
  src/lib/snyk-test/iac-test-result.ts
  test/fixtures/iac/output-formats/test-error-json-schema.json
  test/jest/unit/cli/commands/test/iac/v2/index.spec.ts
  test/jest/unit/iac/process-results/fixtures/integrated-json-output.json
Owners: @snyk/group-infrastructure-as-code

feat: new cloud context flag --snyk-cloud-environment
  src/cli/commands/test/iac/local-execution/types.ts
  src/cli/commands/test/iac/v2/assert-iac-options.ts
  src/cli/commands/test/iac/v2/index.ts
  src/lib/iac/test/v2/scan/index.ts
  src/lib/iac/test/v2/types.ts
Owners: @snyk/group-infrastructure-as-code

chore: bump snyk-iac-test
  src/lib/iac/test/v2/local-cache/policy-engine/constants/utils.ts
Owners: @snyk/group-infrastructure-as-code

feat: Upgrade snyk-iac-test to v0.35.1
  src/lib/iac/test/v2/local-cache/policy-engine/constants/utils.ts
  src/lib/iac/test/v2/scan/index.ts
Owners: @snyk/group-infrastructure-as-code

chore: add cloud-context analytics
  src/lib/formatters/iac-output/text/formatters.ts
  src/lib/formatters/iac-output/text/utils.ts
  src/lib/iac/test/v2/analytics/iac-cloud-context.ts
  src/lib/iac/test/v2/analytics/index.ts
  src/lib/iac/test/v2/index.ts
  test/jest/unit/lib/iac/test/v2/analytics/fixtures/iac-analytics.json
  test/jest/unit/lib/iac/test/v2/analytics/index.spec.ts
Owners: @snyk/group-infrastructure-as-code

fix: Invoke snyk-iac-test asynchronously
  src/lib/iac/test/v2/index.ts
  src/lib/iac/test/v2/scan/index.ts
  test/jest/unit/cli/commands/test/iac/v2/index.spec.ts
Owners: @snyk/group-infrastructure-as-code

fix: reduce scala script output size
  package-lock.json
  package.json
Owners: @snyk/hammer

refactor: test flow
  src/lib/iac/test/v2/local-cache/policy-engine/constants/utils.ts
Owners: @snyk/group-infrastructure-as-code

fix: add innerError to CLI analytics as error-details
  src/cli/commands/test/index.ts
  src/cli/main.ts
  src/lib/errors/failed-to-run-test-error.ts
  src/lib/snyk-test/run-test.ts
Owners: @snyk/snyk-open-source, @snyk/hammer

fix: use body in 403 error innerError if body.stack is empty
  src/lib/snyk-test/run-test.ts
  test/jest/acceptance/analytics.spec.ts
Owners: @snyk/hammer, @snyk/snyk-open-source

feat(@snyk/fix): pipenv support for version 2022.*
  package-lock.json
  packages/snyk-fix/package.json
Owners: @snyk/hammer, @snyk/tech-services

fix: Errors from snyk-iac-test should not be swallowed
  src/lib/iac/test/v2/scan/index.ts
Owners: @snyk/group-infrastructure-as-code

fix: relax conditions for sbt plugin inspect
  package-lock.json
  package.json
Owners: @snyk/hammer

feat: Upgrade snyk-iac-test to v0.36.1
  src/lib/iac/test/v2/local-cache/policy-engine/constants/utils.ts
Owners: @snyk/group-infrastructure-as-code

fix: check of incorrect environment variable
  src/lib/iac/drift/driftctl.ts
Owners: @snyk/group-infrastructure-as-code

chore: add cobra based cmd line parser
  cliv2/cmd/cliv2/main.go
  cliv2/cmd/cliv2/main_test.go
  cliv2/go.mod
  cliv2/go.sum
  cliv2/internal/cliv2/cliv2.go
  cliv2/internal/cliv2/cliv2_test.go
  cliv2/pkg/basic_workflows/legacycli.go
Owners: @snyk/hammer

fix: rollback #4105
  package-lock.json
  package.json
  scripts/apply-patches.sh
  src/cli/commands/monitor/index.ts
  src/cli/commands/test/index.ts
  test/acceptance/fake-server.ts
  test/jest/acceptance/cli-args.spec.ts
  test/tap/cli-fail-on-docker.test.ts
  test/tap/cli-monitor.acceptance.test.ts
  vendor/global-agent-socket-exception.patch
Owners: @snyk/hammer, @snyk/snyk-open-source

chore: update nodejs and python plugins
  package-lock.json
  package.json
Owners: @snyk/hammer

fix: filter out configs that are not public
  package-lock.json
  package.json
Owners: @snyk/hammer

fix: remove allow analytics check for share results
  src/lib/iac/test/v2/scan/index.ts
Owners: @snyk/group-infrastructure-as-code

feat: Upgrade snyk-iac-test to v0.36.2
  src/lib/iac/test/v2/local-cache/policy-engine/constants/utils.ts
Owners: @snyk/group-infrastructure-as-code

fix: apps create command
  src/cli/commands/apps/create-app.ts
  src/lib/apps/rest-utils.ts
  src/lib/apps/types.ts
  src/lib/request/promise.ts
  src/lib/request/request.ts
  src/lib/request/types.ts
  test/acceptance/fake-server.ts
Owners: @snyk/moose, @snyk/hammer, @snyk/snyk-open-source

feat: improve errors for cloud context
  src/cli/commands/test/iac/local-execution/assert-iac-options-flag.ts
  src/cli/commands/test/iac/scan.ts
  src/lib/iac/test/v2/errors.ts
  test/jest/unit/iac/assert-iac-options-flag.spec.ts
  test/jest/unit/lib/iac/test/v2/errors.spec.ts
Owners: @snyk/group-infrastructure-as-code

fix: certificate issue for golang plugin
  .circleci/chocolatey.config
  .circleci/config.yml
  package-lock.json
  package.json
  test/acceptance/workspaces/hex-app/mix.exs
  test/acceptance/workspaces/hex-app/mix.lock
  test/acceptance/workspaces/nuget-app-2/project.assets.json
  test/jest/acceptance/snyk-test/basic-test-all-languages.spec.ts
  test/jest/util/isDontSkipTestsEnabled.ts
Owners: @snyk/hammer, @snyk/snyk-open-source

fix: update snyk-docker-plugin
  package-lock.json
  package.json
Owners: @snyk/hammer

fix: restore env proxy launching snyk-iac-test
  src/lib/iac/drift/driftctl.ts
  src/lib/iac/env-utils.ts
  src/lib/iac/test/v2/scan/index.ts
Owners: @snyk/group-infrastructure-as-code

fix: support unmanaged for ide plugins
  src/lib/ecosystems/resolve-test-facts.ts
  src/lib/snyk-test/legacy.ts
  test/jest/unit/lib/ecosystems/fixtures/expected-test-result-new-impl.ts
  test/jest/unit/lib/ecosystems/resolve-test-facts.spec.ts
Owners: @snyk/hammer, @snyk/snyk-open-source

.github/CODEOWNERS:

*  @snyk/hammer @snyk/snyk-open-source

# monorepo packages
packages/snyk-fix/ @snyk/tech-services
packages/snyk-protect/ @snyk/hammer
packages/cli-alert/ @snyk/hammer

README.md  @snyk/hammer
CONTRIBUTING.md @snyk/hammer
.circleci @snyk/hammer

cliv2/ @snyk/hammer
release-scripts/hcl-to-json-parser-generator/ @snyk/group-infrastructure-as-code
release-scripts/hcl-to-json-parser-generator-v2/ @snyk/group-infrastructure-as-code
src/cli/commands/test @snyk/snyk-open-source
src/cli/commands/monitor @snyk/snyk-open-source
help/  @snyk/hammer
help/cli-commands/iac*.md @snyk/group-infrastructure-as-code @snyk/hammer 
src/cli/commands/test/iac/ @snyk/group-infrastructure-as-code
src/cli/commands/describe.ts @snyk/group-infrastructure-as-code
src/cli/commands/update-exclude-policy.ts @snyk/group-infrastructure-as-code
src/cli/commands/apps @snyk/moose
src/lib/apps @snyk/moose
src/lib/container @snyk/mycelium
src/lib/plugins @snyk/snyk-open-source
test/fixtures/sast/ @snyk/zenith
src/lib/plugins/sast/ @snyk/zenith
test/jest/unit/snyk-code/ @snyk/zenith
src/lib/formatters/iac-output/ @snyk/group-infrastructure-as-code
src/lib/iac/ @snyk/group-infrastructure-as-code
src/lib/snyk-test/iac-test-result.ts @snyk/group-infrastructure-as-code
test/fixtures/basic-apk/ @snyk/mycelium
test/fixtures/container-app-vulns/ @snyk/mycelium
test/fixtures/container-projects/ @snyk/mycelium @snyk/potion
test/fixtures/docker/ @snyk/mycelium @snyk/potion
test/fixtures/iac/ @snyk/group-infrastructure-as-code
test/smoke/iac/ @snyk/group-infrastructure-as-code
test/smoke/spec/iac/ @snyk/group-infrastructure-as-code
test/smoke/spec/snyk_code_spec.sh @snyk/zenith
test/smoke/spec/snyk_basic_spec.sh @snyk/hammer
test/smoke/.iac-data/ @snyk/group-infrastructure-as-code
test/jest/unit/lib/endpoint-config-test.spec.ts @snyk/nebula
test/jest/unit/lib/formatters/iac-output/ @snyk/group-infrastructure-as-code
test/jest/unit/lib/formatters/test/format-test-results.spec.ts @snyk/hammer @snyk/snyk-open-source @snyk/mycelium
test/jest/unit/iac/ @snyk/group-infrastructure-as-code
test/jest/unit/cli/commands/test/iac @snyk/group-infrastructure-as-code
test/jest/unit/lib/iac/ @snyk/group-infrastructure-as-code
test/jest/acceptance/iac/ @snyk/group-infrastructure-as-code
test/jest/acceptance/snyk-apps @snyk/moose
src/lib/code-config.ts @snyk/nebula
src/lib/errors/describe-required-argument-error.ts @snyk/group-infrastructure-as-code
src/lib/errors/describe-exclusive-argument-error.ts @snyk/group-infrastructure-as-code
src/lib/errors/no-supported-sast-files-found.ts @snyk/zenith
help/commands-docs/iac-examples.md @snyk/group-infrastructure-as-code
help/commands-docs/iac.md @snyk/group-infrastructure-as-code
test/jest/util/ @snyk/hammer
dangerfile.js @snyk/hammer
/package.json @snyk/hammer
/package-lock.json @snyk/hammer
/config.default.js @snyk/hammer
/webpack.common.js @snyk/hammer
/webpack.dev.js @snyk/hammer
/webpack.prod.js @snyk/hammer
/tsconfig.json @snyk/hammer
/tsconfig.settings.json @snyk/hammer
CODEOWNERS @snyk/hammer
/docker @snyk/hammer
src/cli/commands/log4shell-hashes.ts @snyk/tundra
src/cli/commands/log4shell.ts @snyk/tundra
test/fixtures/unmanaged-log4j-fixture @snyk/tundra
test/jest/acceptance/snyk-log4shell/log4shell-detection.spec.ts @snyk/tundra
test/jest/acceptance/snyk-test/app-vuln-container-project.spec.ts @snyk/mycelium
/.github @snyk/hammer
/.github/workflows/iac-smoke-tests.yml @snyk/group-infrastructure-as-code
/.github/workflows/iac-smoke-tests-pulls.yml @snyk/group-infrastructure-as-code

# tap tests ownership
test/tap/cli-monitor/ @snyk/snyk-open-source
test/tap/cli-test/ @snyk/snyk-open-source
test/tap/args.test.ts @snyk/hammer
test/tap/auth.test.ts @snyk/hammer
test/tap/cli-fail-on-docker.test.ts @snyk/hammer
test/tap/cli-fail-on-pinnable.test.ts @snyk/snyk-open-source
test/tap/cli-monitor.acceptance.test.ts @snyk/snyk-open-source
test/tap/cli-test.acceptance.test.ts @snyk/snyk-open-source
test/tap/cli.test.ts @snyk/hammer
test/tap/container.test.ts @snyk/potion
test/tap/display-test-results.test.ts @snyk/snyk-open-source
test/tap/docker-token.test.ts @snyk/potion
test/tap/endpoint-config.test.ts @snyk/hammer
test/tap/find-files.test.ts @snyk/snyk-open-source
test/tap/monitor-target.test.ts @snyk/snyk-open-source
test/tap/proxy.test.js @snyk/hammer
test/tap/remote-package.test.ts @snyk/snyk-open-source
test/tap/request.test.ts @snyk/hammer
test/tap/run-test.test.ts @snyk/snyk-open-source
test/tap/severity-threshold.test.ts @snyk/snyk-open-source
test/tap/sln-app.test.ts @snyk/snyk-open-source
test/tap/sub-process.test.js @snyk/snyk-open-source
test/tap/user-config.test.ts @snyk/snyk-open-source
test/tap/vulnerable-path-output.js @snyk/snyk-open-source

# protect
test/tap/cli-protect-no-vulns-to-patch.test.ts @snyk/hammer
test/tap/patch-fetch-fail.test.ts @snyk/hammer
test/tap/cli-protect.test.ts @snyk/hammer
test/tap/protect-apply-same-patch-again.test.js @snyk/hammer
test/tap/protect-config.test.ts @snyk/hammer
test/tap/protect-factors-pre-tarred.test.ts @snyk/hammer
test/tap/protect-fail.test.js @snyk/hammer
test/tap/protect-ignore.test.js @snyk/hammer
test/tap/protect-patch-filter.test.js @snyk/hammer
test/tap/protect-patch-order.test.ts @snyk/hammer
test/tap/protect-patch-same-pkg.test.js @snyk/hammer
test/tap/protect-semver-patch.test.ts @snyk/hammer
