Repository frontend-provider/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @snyk/content, @snyk/boost, @snyk/flow, @snyk/hammer, @snyk/cloudconfig, @snyk/tech-services

chore: only run package tests with package test commands
  jest.config.js
  package.json
  packages/snyk-protect/package.json
Owners: @snyk/hammer, @snyk/boost

chore: update lodash subpackage includes
  test/system/cli.test.ts
Owners: @snyk/hammer, @snyk/boost

feat: add default created date to ignores
  src/cli/commands/ignore.ts
  test/system/cli.test.ts
Owners: @snyk/hammer, @snyk/boost

chore: avoid running package tests in root tests
  package.json
  packages/snyk-protect/package.json
Owners: @snyk/hammer, @snyk/boost

feat(@snyk/fix): v1 support to fix req*.txt files
  packages/snyk-fix/package.json
  packages/snyk-fix/src/plugins/python/handlers/pip-requirements.ts
  packages/snyk-fix/src/plugins/python/handlers/update-dependencies/index.ts
  packages/snyk-fix/src/plugins/python/handlers/update-dependencies/requirements-file-parser.ts
  packages/snyk-fix/src/types.ts
  packages/snyk-fix/test/functional/__snapshots__/fix.spec.ts.snap
  packages/snyk-fix/test/functional/fix.spec.ts
  packages/snyk-fix/test/functional/plugins/python/pip-requirements.spec.ts
  packages/snyk-fix/test/functional/plugins/python/update-dependencies/__snapshots__/update-dependencies.spec.ts.snap
  packages/snyk-fix/test/functional/plugins/python/update-dependencies/update-dependencies.spec.ts
  packages/snyk-fix/test/functional/plugins/python/workspaces/pip-app-with-python-markers/requirements.txt
  packages/snyk-fix/test/functional/plugins/python/workspaces/pip-app/requirements.txt
  packages/snyk-fix/test/helpers/generate-entity-to-fix.ts
  packages/snyk-fix/test/system/plugins/python/update-dependencies/__snapshots__/update-dependencies.spec.ts.snap
  packages/snyk-fix/test/system/plugins/python/update-dependencies/update-dependencies.spec.ts
  packages/snyk-fix/test/system/plugins/python/update-dependencies/workspaces/basic-with-newline/prod.txt
  packages/snyk-fix/test/system/plugins/python/update-dependencies/workspaces/basic/prod.txt
  packages/snyk-fix/test/system/plugins/python/update-dependencies/workspaces/long-versions/prod.txt
  packages/snyk-fix/test/system/plugins/python/update-dependencies/workspaces/lower-case-dep/req.txt
  packages/snyk-fix/test/system/plugins/python/update-dependencies/workspaces/python-markers/prod.txt
  packages/snyk-fix/test/system/plugins/python/update-dependencies/workspaces/with-comparator/prod.txt
  packages/snyk-fix/test/system/plugins/python/update-dependencies/workspaces/with-custom-formatting/requirements.txt
  packages/snyk-fix/test/system/plugins/python/update-dependencies/workspaces/with-require/dev.txt
Owners: @snyk/tech-services

feat(@snyk/fix): entity has workspace with a configured file reader
  packages/snyk-fix/src/plugins/python/handlers/pip-requirements.ts
  packages/snyk-fix/src/types.ts
  packages/snyk-fix/test/functional/__snapshots__/fix.spec.ts.snap
  packages/snyk-fix/test/functional/fix.spec.ts
  packages/snyk-fix/test/helpers/generate-entity-to-fix.ts
Owners: @snyk/tech-services

feat(@snyk/fix): plugin routing logic to load the relevant plugin based on input
  packages/snyk-fix/package.json
  packages/snyk-fix/src/index.ts
  packages/snyk-fix/src/lib/errors/custom-error.ts
  packages/snyk-fix/src/lib/errors/error-to-user-message.ts
  packages/snyk-fix/src/plugins/load-plugin.ts
  packages/snyk-fix/src/plugins/python/handlers/pip-requirements.ts
  packages/snyk-fix/src/plugins/python/index.ts
  packages/snyk-fix/src/plugins/python/load-handler.ts
  packages/snyk-fix/src/plugins/python/supported-project-types.ts
  packages/snyk-fix/src/plugins/types.ts
  packages/snyk-fix/test/functional/__snapshots__/fix.spec.ts.snap
  packages/snyk-fix/test/functional/fix.spec.ts
Owners: @snyk/tech-services

feat(@snyk/fix): initial @snyk/fix package setup & loadPlugin functionality
  packages/snyk-fix/test/functional/__snapshots__/fix.spec.ts.snap
  packages/snyk-fix/test/functional/fix.spec.ts
Owners: @snyk/tech-services

test(@snyk/fix): pip app tests fixture
  packages/snyk-fix/test/system/plugins/python/update-dependencies/workspaces/pip-app/base.txt
  packages/snyk-fix/test/system/plugins/python/update-dependencies/workspaces/pip-app/core/requirements.txt
  packages/snyk-fix/test/system/plugins/python/update-dependencies/workspaces/pip-app/lib/requirements.txt
  packages/snyk-fix/test/system/plugins/python/update-dependencies/workspaces/pip-app/requirements.txt
Owners: @snyk/tech-services

feat(@snyk/fix): return fix resposes with extra data
  .gitignore
  packages/snyk-fix/src/index.ts
  packages/snyk-fix/src/lib/output-formatters/show-results-summary.ts
  packages/snyk-fix/src/plugins/python/handlers/pip-requirements.ts
  packages/snyk-fix/src/plugins/python/handlers/update-dependencies/index.ts
  packages/snyk-fix/src/plugins/python/handlers/update-dependencies/requirements-file-parser.ts
  packages/snyk-fix/src/plugins/python/index.ts
  packages/snyk-fix/src/plugins/types.ts
  packages/snyk-fix/src/types.ts
  packages/snyk-fix/test/functional/__snapshots__/fix.spec.ts.snap
  packages/snyk-fix/test/functional/fix.spec.ts
  packages/snyk-fix/test/functional/plugins/python/handlers/update-dependencies/update-dependencies.spec.ts
  packages/snyk-fix/test/functional/plugins/python/pip-requirements.spec.ts
  packages/snyk-fix/test/helpers/generate-entity-to-fix.ts
  packages/snyk-fix/test/system/plugins/python/update-dependencies/update-dependencies.spec.ts
  packages/snyk-fix/test/system/plugins/python/update-dependencies/workspaces/pip-app-multiple-versions/base.txt
  packages/snyk-fix/test/system/plugins/python/update-dependencies/workspaces/pip-app-multiple-versions/base2.txt
  packages/snyk-fix/test/system/plugins/python/update-dependencies/workspaces/pip-app-multiple-versions/core/requirements.txt
  packages/snyk-fix/test/system/plugins/python/update-dependencies/workspaces/pip-app-multiple-versions/lib/requirements.txt
  packages/snyk-fix/test/system/plugins/python/update-dependencies/workspaces/pip-app-multiple-versions/requirements.txt
Owners: @snyk/hammer, @snyk/boost, @snyk/tech-services

feat(@snyk/fix): update output format to match UI designs
  packages/snyk-fix/package.json
  packages/snyk-fix/src/index.ts
  packages/snyk-fix/src/lib/errors/error-to-user-message.ts
  packages/snyk-fix/src/lib/output-formatters/format-successful-item.ts
  packages/snyk-fix/src/lib/output-formatters/format-unresolved-item.ts
  packages/snyk-fix/src/lib/output-formatters/show-results-summary.ts
  packages/snyk-fix/src/plugins/python/handlers/pip-requirements.ts
  packages/snyk-fix/src/plugins/python/handlers/update-dependencies/index.ts
  packages/snyk-fix/src/plugins/python/handlers/update-dependencies/requirements-file-parser.ts
  packages/snyk-fix/src/plugins/python/index.ts
  packages/snyk-fix/src/plugins/types.ts
  packages/snyk-fix/src/types.ts
  packages/snyk-fix/test/functional/__snapshots__/fix.spec.ts.snap
  packages/snyk-fix/test/functional/fix.spec.ts
  packages/snyk-fix/test/functional/plugins/python/handlers/update-dependencies/update-dependencies.spec.ts
  packages/snyk-fix/test/functional/plugins/python/pip-requirements.spec.ts
  packages/snyk-fix/test/system/plugins/python/update-dependencies/update-dependencies.spec.ts
  packages/snyk-fix/test/system/plugins/python/update-dependencies/workspaces/monorepo/with-comparator/prod.txt
  packages/snyk-fix/test/system/plugins/python/update-dependencies/workspaces/pip-app/base2.txt
  src/lib/convert-legacy-test-result-to-new.ts
  src/lib/convert-legacy-test-result-to-scan-result.ts
  src/lib/convert-legacy-tests-results-to-fix-entities.ts
  src/lib/ecosystems/types.ts
Owners: @snyk/tech-services, @snyk/hammer, @snyk/boost

feat(@snyk/fix): use pMap to handle many fixes at once + tests
  packages/snyk-fix/package.json
  packages/snyk-fix/src/index.ts
  packages/snyk-fix/src/plugins/python/handlers/pip-requirements.ts
  packages/snyk-fix/src/plugins/python/index.ts
  packages/snyk-fix/src/types.ts
  packages/snyk-fix/test/functional/__snapshots__/fix.spec.ts.snap
  packages/snyk-fix/test/functional/fix.spec.ts
  packages/snyk-fix/test/functional/plugins/python/handlers/index.spec.ts
  packages/snyk-fix/test/functional/plugins/python/handlers/update-dependencies/__snapshots__/update-dependencies.spec.ts.snap
  packages/snyk-fix/test/functional/plugins/python/handlers/update-dependencies/update-dependencies.spec.ts
  packages/snyk-fix/test/functional/plugins/python/pip-requirements.spec.ts
Owners: @snyk/tech-services

feat(@snyk/fix): add quiet mode option
  packages/snyk-fix/src/index.ts
  packages/snyk-fix/src/plugins/python/index.ts
  packages/snyk-fix/src/plugins/python/load-handler.ts
  packages/snyk-fix/src/plugins/types.ts
  packages/snyk-fix/src/types.ts
  packages/snyk-fix/test/functional/fix.spec.ts
Owners: @snyk/tech-services

feat(@snyk/fix): add result summary to output
  packages/snyk-fix/src/lib/output-formatters/format-successful-item.ts
  packages/snyk-fix/src/lib/output-formatters/show-results-summary.ts
  packages/snyk-fix/src/types.ts
  packages/snyk-fix/test/functional/lib/output-formatters.ts/__snapshots__/format-successful-item.spec.ts.snap
  packages/snyk-fix/test/functional/lib/output-formatters.ts/__snapshots__/show-results-summary.spec.ts.snap
  packages/snyk-fix/test/functional/lib/output-formatters.ts/format-successful-item.spec.ts
  packages/snyk-fix/test/functional/lib/output-formatters.ts/format-unresolved-item.spec.ts
  packages/snyk-fix/test/functional/lib/output-formatters.ts/show-results-summary.spec.ts
Owners: @snyk/tech-services

feat(@snyk/fix): improve error handling
  packages/snyk-fix/src/lib/errors/custom-error.ts
  packages/snyk-fix/src/lib/errors/missing-file-name.ts
  packages/snyk-fix/src/lib/errors/missing-remediation-data.ts
  packages/snyk-fix/src/lib/errors/no-fixes-applied.ts
  packages/snyk-fix/src/lib/output-formatters/show-results-summary.ts
  packages/snyk-fix/src/plugins/python/handlers/pip-requirements.ts
  packages/snyk-fix/src/plugins/python/handlers/update-dependencies/index.ts
  packages/snyk-fix/src/types.ts
  packages/snyk-fix/test/functional/fix.spec.ts
Owners: @snyk/tech-services

feat(@snyk/fix): improve require directive matching to match multiple
  packages/snyk-fix/src/lib/output-formatters/format-successful-item.ts
  packages/snyk-fix/src/lib/output-formatters/show-results-summary.ts
  packages/snyk-fix/src/plugins/python/handlers/pip-requirements.ts
  packages/snyk-fix/src/plugins/python/handlers/update-dependencies/index.ts
  packages/snyk-fix/src/plugins/python/handlers/update-dependencies/requirements-file-parser.ts
  packages/snyk-fix/test/functional/lib/output-formatters.ts/__snapshots__/format-unresolved-item.spec.ts.snap
  packages/snyk-fix/test/functional/plugins/python/__snapshots__/pip-requirements.spec.ts.snap
  packages/snyk-fix/test/functional/plugins/python/pip-requirements.spec.ts
Owners: @snyk/tech-services

feat(@snyk/fix): dryRun fix version
  packages/snyk-fix/src/plugins/python/handlers/pip-requirements.ts
  packages/snyk-fix/src/plugins/python/index.ts
  packages/snyk-fix/src/plugins/python/load-handler.ts
  packages/snyk-fix/test/functional/__snapshots__/fix.spec.ts.snap
  packages/snyk-fix/test/functional/fix.spec.ts
Owners: @snyk/tech-services

chore(@snyk/fix): rename tests from functional
  packages/snyk-fix/test/acceptance/plugins/python/update-dependencies/__snapshots__/update-dependencies.spec.ts.snap
  packages/snyk-fix/test/acceptance/plugins/python/update-dependencies/update-dependencies.spec.ts
  packages/snyk-fix/test/acceptance/plugins/python/update-dependencies/workspaces/basic-with-newline/prod.txt
  packages/snyk-fix/test/acceptance/plugins/python/update-dependencies/workspaces/basic/prod.txt
  packages/snyk-fix/test/acceptance/plugins/python/update-dependencies/workspaces/long-versions/prod.txt
  packages/snyk-fix/test/acceptance/plugins/python/update-dependencies/workspaces/lower-case-dep/req.txt
  packages/snyk-fix/test/acceptance/plugins/python/update-dependencies/workspaces/monorepo/with-comparator/prod.txt
  packages/snyk-fix/test/acceptance/plugins/python/update-dependencies/workspaces/pip-app-multiple-versions/base.txt
  packages/snyk-fix/test/acceptance/plugins/python/update-dependencies/workspaces/pip-app-multiple-versions/base2.txt
  packages/snyk-fix/test/acceptance/plugins/python/update-dependencies/workspaces/pip-app-multiple-versions/core/requirements.txt
  packages/snyk-fix/test/acceptance/plugins/python/update-dependencies/workspaces/pip-app-multiple-versions/lib/requirements.txt
  packages/snyk-fix/test/acceptance/plugins/python/update-dependencies/workspaces/pip-app-multiple-versions/requirements.txt
  packages/snyk-fix/test/acceptance/plugins/python/update-dependencies/workspaces/pip-app/base.txt
  packages/snyk-fix/test/acceptance/plugins/python/update-dependencies/workspaces/pip-app/base2.txt
  packages/snyk-fix/test/acceptance/plugins/python/update-dependencies/workspaces/pip-app/core/requirements.txt
  packages/snyk-fix/test/acceptance/plugins/python/update-dependencies/workspaces/pip-app/lib/requirements.txt
  packages/snyk-fix/test/acceptance/plugins/python/update-dependencies/workspaces/pip-app/requirements.txt
  packages/snyk-fix/test/acceptance/plugins/python/update-dependencies/workspaces/python-markers/prod.txt
  packages/snyk-fix/test/acceptance/plugins/python/update-dependencies/workspaces/with-comparator/prod.txt
  packages/snyk-fix/test/acceptance/plugins/python/update-dependencies/workspaces/with-custom-formatting/requirements.txt
  packages/snyk-fix/test/acceptance/plugins/python/update-dependencies/workspaces/with-require/dev.txt
  packages/snyk-fix/test/functional/__snapshots__/fix.spec.ts.snap
  packages/snyk-fix/test/functional/fix.spec.ts
  packages/snyk-fix/test/helpers/generate-entity-to-fix.ts
  packages/snyk-fix/test/unit/__snapshots__/fix.spec.ts.snap
  packages/snyk-fix/test/unit/fix.spec.ts
  packages/snyk-fix/test/unit/lib/output-formatters/__snapshots__/format-successful-item.spec.ts.snap
  packages/snyk-fix/test/unit/lib/output-formatters/__snapshots__/format-unresolved-item.spec.ts.snap
  packages/snyk-fix/test/unit/lib/output-formatters/__snapshots__/show-results-summary.spec.ts.snap
  packages/snyk-fix/test/unit/lib/output-formatters/format-successful-item.spec.ts
  packages/snyk-fix/test/unit/lib/output-formatters/format-unresolved-item.spec.ts
  packages/snyk-fix/test/unit/lib/output-formatters/show-results-summary.spec.ts
  packages/snyk-fix/test/unit/plugins/python/__snapshots__/pip-requirements.spec.ts.snap
  packages/snyk-fix/test/unit/plugins/python/handlers/index.spec.ts
  packages/snyk-fix/test/unit/plugins/python/handlers/update-dependencies/__snapshots__/update-dependencies.spec.ts.snap
  packages/snyk-fix/test/unit/plugins/python/handlers/update-dependencies/update-dependencies.spec.ts
  packages/snyk-fix/test/unit/plugins/python/pip-requirements.spec.ts
  packages/snyk-fix/test/unit/plugins/python/workspaces/pip-app-with-python-markers/requirements.txt
  packages/snyk-fix/test/unit/plugins/python/workspaces/pip-app/requirements.txt
Owners: @snyk/tech-services

feat(@snyk/fix): replace matchAll with while loop fallback
  packages/snyk-fix/src/plugins/python/handlers/pip-requirements.ts
Owners: @snyk/tech-services

chore: ignore node_modules in pks but not fixtures
  .gitignore
Owners: @snyk/hammer, @snyk/boost

refactor: validateCredentials token check
  src/cli/commands/test/index.ts
  src/cli/commands/test/validate-credentials.ts
Owners: @snyk/hammer, @snyk/boost

chore: use local api key, host for test
  test/cli-json-file-output.spec.ts
Owners: @snyk/hammer, @snyk/boost

.github/CODEOWNERS:

# Snyk Boost will be required for a review on every PR
README.md  @snyk/content @snyk/boost
src/cli/commands/test/formatters/format-reachability.ts  @snyk/flow
help/  @snyk/hammer
*  @snyk/hammer @snyk/boost
src/cli/commands/test/iac-output.ts @snyk/cloudconfig
src/cli/commands/test/iac-local-execution/ @snyk/cloudconfig
src/lib/cloud-config-projects.ts @snyk/cloudconfig
src/lib/iac/ @snyk/cloudconfig
src/lib/snyk-test/iac-test-result.ts @snyk/cloudconfig
src/lib/snyk-test/payload-schema.ts @snyk/cloudconfig
src/lib/snyk-test/run-iac-test.ts @snyk/cloudconfig
test/acceptance/cli-test/iac/ @snyk/cloudconfig
test/fixtures/iac/ @snyk/cloudconfig
test/smoke/spec/iac/ @snyk/cloudconfig
test/smoke/.iac-data/ @snyk/cloudconfig
src/lib/errors/invalid-iac-file.ts @snyk/cloudconfig
src/lib/errors/unsupported-options-iac-error.ts @snyk/cloudconfig
help/commands-docs/iac-examples.md @snyk/cloudconfig
help/commands-docs/iac.md @snyk/cloudconfig
packages/snyk-fix/ @snyk/tech-services
