Repository frontend-provider/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @snyk/hammerhead, @snyk/snyk-open-source, @snyk/tech-services, @snyk/cloud-dev-ex, @snyk/cloud-context, @snyk/moose, @snyk/mycelium, @snyk/zenith, @snyk/group-infrastructure-as-code, @snyk/potion, @snyk/nebula, @snyk/tundra

feat: bump Snyk docker plugin to 6.0.0
  package-lock.json
  package.json
Owners: @snyk/hammerhead

chore: refactor pipeline to use pre-built images where possible
  .circleci/Dockerfile
  .circleci/config.yml
  .circleci/install-sdks-unix.sh
  .github/workflows/create-build-image.yml
  Makefile
  cliv2/scripts/issigned_windows.sh
  cliv2/scripts/sign_windows.sh
  release-scripts/upload-artifacts.sh
  scripts/create-build-image.sh
  test/acceptance/environments/proxy/Dockerfile
Owners: @snyk/hammerhead, @snyk/snyk-open-source

chore: update snyk iac capture dependency
  cliv2/go.mod
  cliv2/go.sum
  test/jest/acceptance/iac/capture.spec.ts
Owners: @snyk/hammerhead, @snyk/cloud-context

fix: upgrade docker plugin to resolve OCI errors and go 1.20 support
  package-lock.json
  package.json
Owners: @snyk/hammerhead

fix: persist version file
  .circleci/config.yml
Owners: @snyk/hammerhead

chore: bump snyk-iac-test to v0.41.0
  src/lib/iac/test/v2/local-cache/policy-engine/constants/utils.ts
Owners: @snyk/cloud-dev-ex

fix: support new setuptools version
  package-lock.json
  package.json
Owners: @snyk/hammerhead

feat: bump snyk cpp plugin to 2.22.0
  package-lock.json
  package.json
Owners: @snyk/hammerhead

chore: bump snyk-iac-capture to 0.6.0
  cliv2/go.mod
  cliv2/go.sum
Owners: @snyk/hammerhead

fix: checksum comparison failed [HEAD-202] (#4476)
  ts-binary-wrapper/src/common.ts
  ts-binary-wrapper/test/acceptance/basic.spec.ts
Owners: @snyk/hammerhead, @snyk/snyk-open-source

fix: revert to using console.error for debug messages (#4478)
  ts-binary-wrapper/src/common.ts
Owners: @snyk/hammerhead, @snyk/snyk-open-source

chore: add basic support for oauth authentication
  cliv2/cmd/cliv2/main.go
  cliv2/go.mod
  cliv2/go.sum
  cliv2/internal/cliv2/cliv2.go
  cliv2/internal/cliv2/cliv2_test.go
  cliv2/internal/constants/constants.go
  cliv2/internal/proxy/proxy.go
  cliv2/internal/proxy/proxy_test.go
  cliv2/pkg/basic_workflows/legacycli.go
  test/jest/acceptance/snyk-container/container.spec.ts
Owners: @snyk/hammerhead, @snyk/snyk-open-source

feat: npm lock v2 and v3 support
  package-lock.json
  package.json
  src/lib/plugins/nodejs-plugin/index.ts
  src/lib/plugins/nodejs-plugin/npm-lock-parser.ts
  test/acceptance/workspaces/npm-package-lockfile-v2/package-lock.json
  test/acceptance/workspaces/npm-package-lockfile-v2/package.json
  test/acceptance/workspaces/npm-package-lockfile-v3/package-lock.json
  test/acceptance/workspaces/npm-package-lockfile-v3/package.json
  test/tap/cli-test/cli-test.npm.spec.ts
Owners: @snyk/hammerhead, @snyk/snyk-open-source

feat: npm workspaces support
  package-lock.json
  package.json
  src/lib/plugins/get-multi-plugin-result.ts
  src/lib/plugins/nodejs-plugin/npm-workspaces-parser.ts
  test/jest/unit/lib/plugins/get-multiplugin-result.spec.ts
Owners: @snyk/hammerhead, @snyk/snyk-open-source

chore: test that binary wrapper does not output to stdout [HEAD-202] (#4480)
  ts-binary-wrapper/test/acceptance/basic.spec.ts
Owners: @snyk/hammerhead, @snyk/snyk-open-source

chore: Add env to force running tests for all versions
  test/jest/util/isCLIV2.ts
Owners: @snyk/hammerhead

chore: upgrade application framework
  cliv2/go.mod
  cliv2/go.sum
Owners: @snyk/hammerhead

chore: run formatter
  test/jest/util/isCLIV2.ts
Owners: @snyk/hammerhead

fix: update gradle plugin
  package-lock.json
  package.json
Owners: @snyk/hammerhead

chore: disable oauth support globally
  cliv2/cmd/cliv2/main.go
  cliv2/go.mod
  cliv2/go.sum
  cliv2/pkg/basic_workflows/legacycli.go
Owners: @snyk/hammerhead

chore: improve auth debug logging
  cliv2/cmd/cliv2/main.go
  cliv2/go.mod
  cliv2/go.sum
Owners: @snyk/hammerhead

chore: minor refactoring of debug logging
  cliv2/cmd/cliv2/main.go
Owners: @snyk/hammerhead

chore: udpate gaf
  cliv2/go.mod
  cliv2/go.sum
Owners: @snyk/hammerhead

feat: add debug info for failed send test payload request
  src/lib/snyk-test/run-test.ts
Owners: @snyk/hammerhead, @snyk/snyk-open-source

feat: add user-agent header to HTTP requests (#4488)
  cliv2/cmd/cliv2/main.go
Owners: @snyk/hammerhead

fix: bump nodejs parser to 1.48.1
  package-lock.json
  package.json
Owners: @snyk/hammerhead

docs: synchronizing help from snyk/user-docs
  help/cli-commands/code-test.md
  help/cli-commands/code.md
  help/cli-commands/container-monitor.md
  help/cli-commands/container-test.md
  help/cli-commands/container.md
  help/cli-commands/iac-test.md
  help/cli-commands/iac.md
  help/cli-commands/log4shell.md
  help/cli-commands/monitor.md
  help/cli-commands/sbom.md
  help/cli-commands/test.md
Owners: @snyk/hammerhead

docs: synchronizing help from snyk/user-docs
  help/cli-commands/sbom.md
  help/cli-commands/test.md
Owners: @snyk/hammerhead

chore: pass logger into updated gaf (#4490)
  cliv2/cmd/cliv2/main.go
  cliv2/go.mod
  cliv2/go.sum
  cliv2/pkg/basic_workflows/legacycli.go
Owners: @snyk/hammerhead

fix: bump nodejs parser to 1.48.2
  package-lock.json
  package.json
Owners: @snyk/hammerhead

chore: updates snyk-gradle-plugin (#4494)
  package-lock.json
  package.json
Owners: @snyk/hammerhead

feat: update snyk-go-plugin 1.19.5
  package-lock.json
  package.json
Owners: @snyk/hammerhead

feat: add `IAC_RULES_CLIENT_URL` to override the URL of the rules client in snyk-iac-test
  src/cli/commands/test/iac/v2/index.ts
  src/lib/config/index.ts
  src/lib/iac/test/v2/index.ts
  src/lib/iac/test/v2/local-cache/index.ts
  src/lib/iac/test/v2/local-cache/policy-engine/constants/utils.ts
  src/lib/iac/test/v2/local-cache/rules-bundle/index.ts
  src/lib/iac/test/v2/scan/index.ts
  src/lib/iac/test/v2/types.ts
  test/jest/unit/lib/iac/test/v2/setup/local-cache/index.spec.ts
Owners: @snyk/cloud-dev-ex, @snyk/hammerhead, @snyk/snyk-open-source

test: testing token precedence (#4499)
  test/jest/acceptance/cli-token-precedence.spec.ts
Owners: @snyk/hammerhead, @snyk/snyk-open-source

docs: synchronizing help from snyk/user-docs
  help/cli-commands/README.md
  help/cli-commands/sbom.md
  help/cli-commands/test.md
Owners: @snyk/hammerhead

chore: update gaf
  cliv2/go.mod
  cliv2/go.sum
Owners: @snyk/hammerhead

fix: Help behaviour for Extensions
  cliv2/cmd/cliv2/main.go
  cliv2/cmd/cliv2/main_test.go
Owners: @snyk/hammerhead

feat: upgrade snyk/cli-extension-sbom
  cliv2/cmd/cliv2/main_test.go
  cliv2/go.mod
  cliv2/go.sum
  test/jest/acceptance/extra-certs.spec.ts
  test/jest/acceptance/snyk-config/snyk-config.spec.ts
Owners: @snyk/hammerhead, @snyk/snyk-open-source

chore: release alpine binaries (#4504)
  .circleci/config.yml
Owners: @snyk/hammerhead

fix: custom rules json output missing `resolve` field
  src/cli/commands/test/iac/local-execution/file-scanner.ts
  src/cli/commands/test/iac/local-execution/types.ts
Owners: @snyk/cloud-dev-ex

.github/CODEOWNERS:

*  @snyk/hammerhead @snyk/snyk-open-source

# monorepo packages
packages/snyk-fix/ @snyk/tech-services
packages/snyk-protect/ @snyk/hammerhead
packages/cli-alert/ @snyk/hammerhead
packages/iac-cli-alert/ @snyk/cloud-dev-ex

README.md  @snyk/hammerhead
CONTRIBUTING.md @snyk/hammerhead
.circleci @snyk/hammerhead

cliv2/ @snyk/hammerhead
release-scripts/hcl-to-json-parser-generator/ @snyk/cloud-dev-ex
release-scripts/hcl-to-json-parser-generator-v2/ @snyk/cloud-dev-ex
src/cli/commands/test @snyk/snyk-open-source
src/cli/commands/monitor @snyk/snyk-open-source
help/  @snyk/hammerhead
src/cli/commands/test/iac/ @snyk/cloud-dev-ex
src/cli/commands/describe.ts @snyk/cloud-context
src/cli/commands/update-exclude-policy.ts @snyk/cloud-dev-ex
src/cli/commands/apps @snyk/moose
src/lib/apps @snyk/moose
src/lib/container @snyk/mycelium
src/lib/plugins @snyk/snyk-open-source
test/fixtures/sast/ @snyk/zenith
src/lib/plugins/sast/ @snyk/zenith
test/jest/unit/snyk-code/ @snyk/zenith
src/lib/formatters/iac-output/ @snyk/cloud-dev-ex
src/lib/iac/ @snyk/group-infrastructure-as-code
src/lib/iac/test/ @snyk/cloud-dev-ex
src/lib/snyk-test/iac-test-result.ts @snyk/cloud-dev-ex
test/fixtures/basic-apk/ @snyk/mycelium
test/fixtures/container-app-vulns/ @snyk/mycelium
test/fixtures/container-projects/ @snyk/mycelium @snyk/potion
test/fixtures/docker/ @snyk/mycelium @snyk/potion
test/fixtures/iac/ @snyk/cloud-dev-ex
test/fixtures/iac/drift @snyk/cloud-context
test/fixtures/iac/capture @snyk/cloud-context
test/smoke/iac/ @snyk/cloud-dev-ex
test/smoke/spec/snyk_code_spec.sh @snyk/zenith
test/smoke/spec/snyk_basic_spec.sh @snyk/hammerhead
test/smoke/.iac-data/ @snyk/cloud-dev-ex
test/jest/unit/lib/endpoint-config-test.spec.ts @snyk/nebula
test/jest/unit/lib/formatters/iac-output/ @snyk/cloud-dev-ex
test/jest/unit/lib/formatters/test/format-test-results.spec.ts @snyk/hammerhead @snyk/snyk-open-source @snyk/mycelium
test/jest/unit/iac/ @snyk/cloud-dev-ex
test/jest/unit/cli/commands/test/iac @snyk/cloud-dev-ex
test/jest/unit/lib/iac/drift/ @snyk/cloud-context
test/jest/unit/lib/iac/test/ @snyk/cloud-dev-ex
test/jest/acceptance/iac/ @snyk/cloud-dev-ex
test/jest/acceptance/iac/describe.spec.ts @snyk/cloud-context
test/jest/acceptance/iac/capture.spec.ts @snyk/cloud-context
test/jest/acceptance/snyk-apps @snyk/moose
src/lib/code-config.ts @snyk/nebula
src/lib/errors/describe-required-argument-error.ts @snyk/cloud-context
src/lib/errors/describe-exclusive-argument-error.ts @snyk/cloud-context
src/lib/errors/no-supported-sast-files-found.ts @snyk/zenith
test/jest/util/ @snyk/hammerhead
dangerfile.js @snyk/hammerhead
/package.json @snyk/hammerhead
/package-lock.json @snyk/hammerhead
/config.default.js @snyk/hammerhead
/webpack.common.js @snyk/hammerhead
/webpack.dev.js @snyk/hammerhead
/webpack.prod.js @snyk/hammerhead
/tsconfig.json @snyk/hammerhead
/tsconfig.settings.json @snyk/hammerhead
CODEOWNERS @snyk/hammerhead
/docker @snyk/hammerhead
src/cli/commands/log4shell-hashes.ts @snyk/tundra
src/cli/commands/log4shell.ts @snyk/tundra
test/fixtures/unmanaged-log4j-fixture @snyk/tundra
test/jest/acceptance/snyk-log4shell/log4shell-detection.spec.ts @snyk/tundra
test/jest/acceptance/snyk-test/app-vuln-container-project.spec.ts @snyk/mycelium
/.github @snyk/hammerhead
/.github/workflows/iac-smoke-tests.yml @snyk/cloud-dev-ex
/.github/workflows/iac-smoke-tests-pulls.yml @snyk/cloud-dev-ex

# tap tests ownership
test/tap/cli-monitor/ @snyk/snyk-open-source
test/tap/cli-test/ @snyk/snyk-open-source
test/tap/args.test.ts @snyk/hammerhead
test/tap/auth.test.ts @snyk/hammerhead
test/tap/cli-fail-on-docker.test.ts @snyk/hammerhead
test/tap/cli-fail-on-pinnable.test.ts @snyk/snyk-open-source
test/tap/cli-monitor.acceptance.test.ts @snyk/snyk-open-source
test/tap/cli-test.acceptance.test.ts @snyk/snyk-open-source
test/tap/cli.test.ts @snyk/hammerhead
test/tap/container.test.ts @snyk/potion
test/tap/display-test-results.test.ts @snyk/snyk-open-source
test/tap/docker-token.test.ts @snyk/potion
test/tap/endpoint-config.test.ts @snyk/hammerhead
test/tap/find-files.test.ts @snyk/snyk-open-source
test/tap/monitor-target.test.ts @snyk/snyk-open-source
test/tap/proxy.test.js @snyk/hammerhead
test/tap/remote-package.test.ts @snyk/snyk-open-source
test/tap/request.test.ts @snyk/hammerhead
test/tap/run-test.test.ts @snyk/snyk-open-source
test/tap/severity-threshold.test.ts @snyk/snyk-open-source
test/tap/sln-app.test.ts @snyk/snyk-open-source
test/tap/sub-process.test.js @snyk/snyk-open-source
test/tap/user-config.test.ts @snyk/snyk-open-source
test/tap/vulnerable-path-output.js @snyk/snyk-open-source

# protect
test/tap/cli-protect-no-vulns-to-patch.test.ts @snyk/hammerhead
test/tap/patch-fetch-fail.test.ts @snyk/hammerhead
test/tap/cli-protect.test.ts @snyk/hammerhead
test/tap/protect-apply-same-patch-again.test.js @snyk/hammerhead
test/tap/protect-config.test.ts @snyk/hammerhead
test/tap/protect-factors-pre-tarred.test.ts @snyk/hammerhead
test/tap/protect-fail.test.js @snyk/hammerhead
test/tap/protect-ignore.test.js @snyk/hammerhead
test/tap/protect-patch-filter.test.js @snyk/hammerhead
test/tap/protect-patch-order.test.ts @snyk/hammerhead
test/tap/protect-patch-same-pkg.test.js @snyk/hammerhead
test/tap/protect-semver-patch.test.ts @snyk/hammerhead
