Repository frontend-provider/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @snyk/hammerhead, @snyk/snyk-open-source, @snyk/tech-services, @snyk/cloud-dev-ex, @snyk/cloud-context, @snyk/moose, @snyk/mycelium, @snyk/zenith, @snyk/group-infrastructure-as-code, @snyk/potion, @snyk/nebula, @snyk/tundra

.github/CODEOWNERS:

*  @snyk/hammerhead @snyk/snyk-open-source

# monorepo packages
packages/snyk-fix/ @snyk/tech-services
packages/snyk-protect/ @snyk/hammerhead
packages/cli-alert/ @snyk/hammerhead
packages/iac-cli-alert/ @snyk/cloud-dev-ex

README.md  @snyk/hammerhead
CONTRIBUTING.md @snyk/hammerhead
.circleci @snyk/hammerhead

cliv2/ @snyk/hammerhead
release-scripts/hcl-to-json-parser-generator/ @snyk/cloud-dev-ex
release-scripts/hcl-to-json-parser-generator-v2/ @snyk/cloud-dev-ex
src/cli/commands/test @snyk/snyk-open-source
src/cli/commands/monitor @snyk/snyk-open-source
help/  @snyk/hammerhead
src/cli/commands/test/iac/ @snyk/cloud-dev-ex
src/cli/commands/describe.ts @snyk/cloud-context
src/cli/commands/update-exclude-policy.ts @snyk/cloud-dev-ex
src/cli/commands/apps @snyk/moose
src/lib/apps @snyk/moose
src/lib/container @snyk/mycelium
src/lib/plugins @snyk/snyk-open-source
test/fixtures/sast/ @snyk/zenith
src/lib/plugins/sast/ @snyk/zenith
test/jest/unit/snyk-code/ @snyk/zenith
src/lib/formatters/iac-output/ @snyk/cloud-dev-ex
src/lib/iac/ @snyk/group-infrastructure-as-code
src/lib/iac/test/ @snyk/cloud-dev-ex
src/lib/snyk-test/iac-test-result.ts @snyk/cloud-dev-ex
test/fixtures/basic-apk/ @snyk/mycelium
test/fixtures/container-app-vulns/ @snyk/mycelium
test/fixtures/container-projects/ @snyk/mycelium @snyk/potion
test/fixtures/docker/ @snyk/mycelium @snyk/potion
test/fixtures/iac/ @snyk/cloud-dev-ex
test/fixtures/iac/drift @snyk/cloud-context
test/fixtures/iac/capture @snyk/cloud-context
test/smoke/iac/ @snyk/cloud-dev-ex
test/smoke/spec/snyk_code_spec.sh @snyk/zenith
test/smoke/spec/snyk_basic_spec.sh @snyk/hammerhead
test/smoke/.iac-data/ @snyk/cloud-dev-ex
test/jest/unit/lib/endpoint-config-test.spec.ts @snyk/nebula
test/jest/unit/lib/formatters/iac-output/ @snyk/cloud-dev-ex
test/jest/unit/lib/formatters/test/format-test-results.spec.ts @snyk/hammerhead @snyk/snyk-open-source @snyk/mycelium
test/jest/unit/iac/ @snyk/cloud-dev-ex
test/jest/unit/cli/commands/test/iac @snyk/cloud-dev-ex
test/jest/unit/lib/iac/drift/ @snyk/cloud-context
test/jest/unit/lib/iac/test/ @snyk/cloud-dev-ex
test/jest/acceptance/iac/ @snyk/cloud-dev-ex
test/jest/acceptance/iac/describe.spec.ts @snyk/cloud-context
test/jest/acceptance/iac/capture.spec.ts @snyk/cloud-context
test/jest/acceptance/snyk-apps @snyk/moose
src/lib/code-config.ts @snyk/nebula
src/lib/errors/describe-required-argument-error.ts @snyk/cloud-context
src/lib/errors/describe-exclusive-argument-error.ts @snyk/cloud-context
src/lib/errors/no-supported-sast-files-found.ts @snyk/zenith
test/jest/util/ @snyk/hammerhead
dangerfile.js @snyk/hammerhead
/package.json @snyk/hammerhead
/package-lock.json @snyk/hammerhead
/config.default.js @snyk/hammerhead
/webpack.common.js @snyk/hammerhead
/webpack.dev.js @snyk/hammerhead
/webpack.prod.js @snyk/hammerhead
/tsconfig.json @snyk/hammerhead
/tsconfig.settings.json @snyk/hammerhead
CODEOWNERS @snyk/hammerhead
/docker @snyk/hammerhead
src/cli/commands/log4shell-hashes.ts @snyk/tundra
src/cli/commands/log4shell.ts @snyk/tundra
test/fixtures/unmanaged-log4j-fixture @snyk/tundra
test/jest/acceptance/snyk-log4shell/log4shell-detection.spec.ts @snyk/tundra
test/jest/acceptance/snyk-test/app-vuln-container-project.spec.ts @snyk/mycelium
/.github @snyk/hammerhead
/.github/workflows/iac-smoke-tests.yml @snyk/cloud-dev-ex
/.github/workflows/iac-smoke-tests-pulls.yml @snyk/cloud-dev-ex

# tap tests ownership
test/tap/cli-monitor/ @snyk/snyk-open-source
test/tap/cli-test/ @snyk/snyk-open-source
test/tap/args.test.ts @snyk/hammerhead
test/tap/auth.test.ts @snyk/hammerhead
test/tap/cli-fail-on-docker.test.ts @snyk/hammerhead
test/tap/cli-fail-on-pinnable.test.ts @snyk/snyk-open-source
test/tap/cli-monitor.acceptance.test.ts @snyk/snyk-open-source
test/tap/cli-test.acceptance.test.ts @snyk/snyk-open-source
test/tap/cli.test.ts @snyk/hammerhead
test/tap/container.test.ts @snyk/potion
test/tap/display-test-results.test.ts @snyk/snyk-open-source
test/tap/docker-token.test.ts @snyk/potion
test/tap/endpoint-config.test.ts @snyk/hammerhead
test/tap/find-files.test.ts @snyk/snyk-open-source
test/tap/monitor-target.test.ts @snyk/snyk-open-source
test/tap/proxy.test.js @snyk/hammerhead
test/tap/remote-package.test.ts @snyk/snyk-open-source
test/tap/request.test.ts @snyk/hammerhead
test/tap/run-test.test.ts @snyk/snyk-open-source
test/tap/severity-threshold.test.ts @snyk/snyk-open-source
test/tap/sln-app.test.ts @snyk/snyk-open-source
test/tap/sub-process.test.js @snyk/snyk-open-source
test/tap/user-config.test.ts @snyk/snyk-open-source
test/tap/vulnerable-path-output.js @snyk/snyk-open-source

# protect
test/tap/cli-protect-no-vulns-to-patch.test.ts @snyk/hammerhead
test/tap/patch-fetch-fail.test.ts @snyk/hammerhead
test/tap/cli-protect.test.ts @snyk/hammerhead
test/tap/protect-apply-same-patch-again.test.js @snyk/hammerhead
test/tap/protect-config.test.ts @snyk/hammerhead
test/tap/protect-factors-pre-tarred.test.ts @snyk/hammerhead
test/tap/protect-fail.test.js @snyk/hammerhead
test/tap/protect-ignore.test.js @snyk/hammerhead
test/tap/protect-patch-filter.test.js @snyk/hammerhead
test/tap/protect-patch-order.test.ts @snyk/hammerhead
test/tap/protect-patch-same-pkg.test.js @snyk/hammerhead
test/tap/protect-semver-patch.test.ts @snyk/hammerhead

docs: synchronizing help from snyk/user-docs
  help/cli-commands/README.md
  help/cli-commands/code-test.md
  help/cli-commands/iac-capture.md
  help/cli-commands/iac-describe.md
  help/cli-commands/iac.md
  help/cli-commands/monitor.md
  help/cli-commands/sbom.md
  help/cli-commands/test.md
Owners: @snyk/hammerhead

fix: bump nodejs parser to 1.48.3
  package-lock.json
  package.json
Owners: @snyk/hammerhead

fix: send additional report options to analyzeFolders
  src/lib/plugins/sast/analysis.ts
  test/jest/unit/snyk-code/snyk-code-test.spec.ts
Owners: @snyk/zenith

chore: update code-client to 4.18.1
  package-lock.json
  package.json
Owners: @snyk/hammerhead

fix: upgrade nuget plugin - enable large dotnet core prjects (#4513)
  package-lock.json
  package.json
Owners: @snyk/hammerhead

chore: write errors as json if —json is set
  cliv2/cmd/cliv2/main.go
  cliv2/go.mod
  cliv2/go.sum
Owners: @snyk/hammerhead

fix: parse mvn output with unresolved properties
  package-lock.json
  package.json
Owners: @snyk/hammerhead

fix: always read additional CA certs
  cliv2/cmd/cliv2/main.go
  cliv2/go.mod
  cliv2/go.sum
Owners: @snyk/hammerhead

feat: upgrade deps to support oci images
  package-lock.json
  package.json
  test/jest/acceptance/snyk-container/container.spec.ts
Owners: @snyk/hammerhead, @snyk/snyk-open-source

feat: add retry to sendTestPayload
  src/lib/errors/bad-gateway-error.ts
  src/lib/errors/index.ts
  src/lib/errors/service-unavailable-error.ts
  src/lib/snyk-test/common.ts
  src/lib/snyk-test/run-test.ts
  test/acceptance/fake-server.ts
  test/jest/acceptance/snyk-fix/fix.spec.ts
  test/jest/acceptance/snyk-test/retry-mechanism.spec.ts
  test/tap/cli-test.acceptance.test.ts
  test/tap/cli-test/cli-test.generic.spec.ts
  test/tap/remote-package.test.ts
Owners: @snyk/hammerhead, @snyk/snyk-open-source

docs: synchronizing help from snyk/user-docs
  help/cli-commands/sbom.md
Owners: @snyk/hammerhead

chore: run smoketests only at 11pm instead of each hour
  .github/workflows/iac-smoke-tests.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/snyk-protect-production-smoke-tests.yml
Owners: @snyk/cloud-dev-ex, @snyk/hammerhead

feat: bump nodejs parser version 1.49.0
  package-lock.json
  package.json
  src/lib/plugins/nodejs-plugin/npm-lock-parser.ts
  src/lib/plugins/nodejs-plugin/npm-workspaces-parser.ts
Owners: @snyk/hammerhead, @snyk/snyk-open-source

fix: use printf rather than echo for escaping in cliv2 Makefile (#4559)
  cliv2/Makefile
Owners: @snyk/hammerhead

docs: update basic build instructions.
  CONTRIBUTING.md
Owners: @snyk/hammerhead

fix: temporarily skip failing gradle test
  test/jest/acceptance/snyk-test/basic-test-all-languages.spec.ts
Owners: @snyk/hammerhead, @snyk/snyk-open-source

fix: bump snyk-docker-plugin
  package-lock.json
  package.json
Owners: @snyk/hammerhead

fix: occasional ETXTBSY on CLI runs (#4568)
  ts-binary-wrapper/src/common.ts
  ts-binary-wrapper/test/acceptance/basic.spec.ts
Owners: @snyk/hammerhead, @snyk/snyk-open-source
