Repository frontend-provider/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @snyk/hammer, @snyk/snyk-open-source, @snyk/tech-services, @snyk/group-infrastructure-as-code, @snyk/moose, @snyk/mycelium, @snyk/zenith, @snyk/potion, @snyk/nebula, @snyk/tundra

fix: added check for existing key in loop
  src/lib/ecosystems/resolve-test-facts.ts
Owners: @snyk/hammer, @snyk/snyk-open-source

fix: improve cpp-plugin performance on windows
  package-lock.json
  package.json
Owners: @snyk/hammer

refactor: Move ignored issues count to scan analytics
  src/lib/formatters/iac-output/text/formatters.ts
  src/lib/iac/test/v2/scan/results.ts
  test/jest/unit/iac/process-results/fixtures/snyk-iac-test-results-with-suppressions.json
  test/jest/unit/iac/process-results/fixtures/snyk-iac-test-results.json
Owners: @snyk/group-infrastructure-as-code

chore: Removed IaC smoke tests npm script
  .github/workflows/iac-smoke-tests.yml
  package.json
Owners: @snyk/group-infrastructure-as-code, @snyk/hammer

feat: pass snykHttpClient to plugin.inspect
  package-lock.json
  package.json
  src/cli/args.ts
  src/lib/module-info/index.ts
  src/lib/plugins/get-single-plugin-result.ts
  src/lib/request/snyk-http-client.ts
  src/lib/types.ts
  test/tap/cli-monitor.acceptance.test.ts
  test/tap/cli-test.acceptance.test.ts
  test/tap/cli-test/cli-test.composer.spec.ts
  test/tap/cli-test/cli-test.elixir.spec.ts
  test/tap/cli-test/cli-test.go.spec.ts
  test/tap/cli-test/cli-test.maven.spec.ts
  test/tap/cli-test/cli-test.nuget.spec.ts
  test/tap/cli-test/cli-test.python.spec.ts
Owners: @snyk/hammer, @snyk/snyk-open-source

chore: redact static strings from analytics
  cliv2/internal/analytics/analytics.go
  cliv2/internal/analytics/analytics_test.go
Owners: @snyk/hammer

feat: new version to update url docs link
  src/lib/iac/test/v2/local-cache/policy-engine/constants/utils.ts
Owners: @snyk/group-infrastructure-as-code

chore: Compute analytics for experimental IaC test
  src/lib/iac/test/v2/analytics/iac-type.ts
  src/lib/iac/test/v2/analytics/index.ts
  src/lib/iac/test/v2/index.ts
  src/lib/iac/test/v2/scan/results.ts
  test/jest/unit/lib/iac/test/v2/analytics/fixtures/iac-analytics.json
  test/jest/unit/lib/iac/test/v2/analytics/index.spec.ts
Owners: @snyk/group-infrastructure-as-code

chore: Added Slack notifications for IaC smoke tests
  .github/workflows/iac-smoke-tests-pulls.yml
  .github/workflows/iac-smoke-tests.yml
  package-lock.json
  packages/iac-cli-alert/jest.config.js
  packages/iac-cli-alert/package.json
  packages/iac-cli-alert/src/index.ts
  packages/iac-cli-alert/tsconfig.json
Owners: @snyk/group-infrastructure-as-code, @snyk/hammer, @snyk/snyk-open-source

feat: container support for deleted files
  package-lock.json
  package.json
Owners: @snyk/hammer

feat: refactor and add tests on gradle plugin
  package-lock.json
  package.json
Owners: @snyk/hammer

feat: Update feature gating for new IaC Integrated experience
  src/cli/commands/test/iac/v2/assert-iac-options.ts
  src/cli/commands/test/iac/v2/index.ts
  src/cli/commands/test/index.ts
  test/acceptance/fake-server.ts
  test/jest/unit/cli/commands/test/iac/v2/index.spec.ts
  test/jest/unit/iac/process-results/fixtures/input-files-for-snyk-iac-test-fixtures/README.md
  test/jest/unit/iac/process-results/fixtures/integrated-json-output.json
  test/jest/unit/iac/process-results/fixtures/integrated-sarif-output.json
  test/jest/unit/lib/iac/test/v2/json.spec.ts
  test/jest/unit/lib/iac/test/v2/sarif.spec.ts
  test/smoke/iac/test.spec.ts
Owners: @snyk/group-infrastructure-as-code, @snyk/snyk-open-source, @snyk/hammer

fix: unmanaged scan unknown archives
  package-lock.json
  package.json
  src/lib/dep-graph.ts
  src/lib/formatters/test/display-result.ts
  src/lib/formatters/test/format-test-results.ts
  src/lib/snyk-test/legacy.ts
  src/lib/snyk-test/run-test.ts
  test/acceptance/workspaces/ruby-app-no-vulns/test-graph-result.json
  test/acceptance/workspaces/ruby-app-no-vulns/test-result.json
  test/acceptance/workspaces/ruby-app-policy/test-graph-result-cloud-ignore.json
  test/acceptance/workspaces/ruby-app-policy/test-graph-result.json
  test/acceptance/workspaces/ruby-app-policy/test-result-cloud-ignore.json
  test/acceptance/workspaces/ruby-app-policy/test-result.json
  test/acceptance/workspaces/ruby-app-thresholds/test-result-critical-severity.json
  test/acceptance/workspaces/ruby-app-thresholds/test-result-high-severity.json
  test/acceptance/workspaces/ruby-app-thresholds/test-result-low-severity.json
  test/acceptance/workspaces/ruby-app-thresholds/test-result-medium-severity.json
  test/acceptance/workspaces/sbt-simple-struts/legacy-res-json.json
  test/acceptance/workspaces/sbt-simple-struts/test-graph-result.json
  test/jest/acceptance/dep-graph.spec.ts
  test/jest/unit/python/snyk-test-pyproject.spec.ts
Owners: @snyk/hammer, @snyk/snyk-open-source

chore: Send integrated IaC test analytics
  src/lib/iac/test/v2/analytics/index.ts
  test/jest/unit/lib/iac/test/v2/analytics/index.spec.ts
Owners: @snyk/group-infrastructure-as-code

chore: Increase IaC smoke test timeout to 120 seconds
  .github/workflows/iac-smoke-tests.yml
  packages/iac-cli-alert/src/index.ts
  test/smoke/iac/test.spec.ts
Owners: @snyk/group-infrastructure-as-code, @snyk/hammer, @snyk/snyk-open-source

fix: use @snyk/child-process package without shell
  package-lock.json
  packages/snyk-fix/package.json
Owners: @snyk/hammer, @snyk/tech-services

feat: add an info message to the new iac test command
  src/lib/iac/test/v2/output.ts
Owners: @snyk/group-infrastructure-as-code

feat(windows): renew code signing certificate
  cliv2/scripts/sign_windows.sh
  release-scripts/sign-windows-binary.sh
Owners: @snyk/hammer, @snyk/snyk-open-source

feat: add flag to exclude app vulnerabilities
  src/cli/commands/monitor/index.ts
  src/cli/commands/test/index.ts
  src/lib/types.ts
  test/jest/acceptance/snyk-test/app-vuln-container-project.spec.ts
Owners: @snyk/snyk-open-source, @snyk/hammer, @snyk/mycelium

chore: upgrade snyk-iac-test to v0.32.1
  src/lib/iac/test/v2/local-cache/policy-engine/constants/utils.ts
Owners: @snyk/group-infrastructure-as-code

feat: print warning message on app-vulns enablement
  src/cli/commands/monitor/index.ts
  src/cli/commands/test/index.ts
Owners: @snyk/snyk-open-source

fix: remove gradle matching config error
  package-lock.json
  package.json
Owners: @snyk/hammer

fix: do not check stderr output in IaC smoke tests
  test/smoke/iac/test.spec.ts
Owners: @snyk/group-infrastructure-as-code

feat: use short link to the Integrated IaC docs
  src/lib/iac/test/v2/output.ts
Owners: @snyk/group-infrastructure-as-code

chore: upgrade cliv2 deps
  cliv2/go.mod
  cliv2/go.sum
Owners: @snyk/hammer

feat: update code client
  package-lock.json
  package.json
Owners: @snyk/hammer

docs: synchronizing help from snyk/user-docs
  help/cli-commands/README.md
  help/cli-commands/code-test.md
  help/cli-commands/code.md
  help/cli-commands/container-monitor.md
  help/cli-commands/container-test.md
  help/cli-commands/iac-describe.md
  help/cli-commands/iac-test.md
  help/cli-commands/ignore.md
  help/cli-commands/monitor.md
  help/cli-commands/test.md
Owners: @snyk/hammer, @snyk/group-infrastructure-as-code

fix: Ignored issues count displays "undefined"
  src/lib/formatters/iac-output/text/formatters.ts
  src/lib/iac/test/v2/analytics/index.ts
  src/lib/iac/test/v2/scan/results.ts
  test/jest/unit/iac/process-results/fixtures/snyk-iac-test-results-with-suppressions.json
  test/jest/unit/iac/process-results/fixtures/snyk-iac-test-results.json
Owners: @snyk/group-infrastructure-as-code

chore: Add debug log for local bundle
  src/lib/iac/test/v2/local-cache/rules-bundle/download.ts
  src/lib/iac/test/v2/local-cache/rules-bundle/index.ts
Owners: @snyk/group-infrastructure-as-code

fix: remove reachability from plugins
  package-lock.json
  package.json
  src/cli/args.ts
  webpack.common.ts
Owners: @snyk/hammer, @snyk/snyk-open-source

chore: additionally redact user homedir if still in analytics data
  cliv2/internal/analytics/analytics.go
  cliv2/internal/analytics/analytics_test.go
Owners: @snyk/hammer

feat: Upgrade snyk-iac-test to v0.33.1
  src/lib/iac/test/v2/local-cache/policy-engine/constants/utils.ts
Owners: @snyk/group-infrastructure-as-code

chore: add golang binary for macos to releases
  .circleci/config.yml
Owners: @snyk/hammer

chore: exclude test folder from code scan
  .snyk
Owners: @snyk/hammer, @snyk/snyk-open-source

chore: update snyk-iac-test version used by snyk cli
  src/lib/iac/test/v2/local-cache/policy-engine/constants/utils.ts
Owners: @snyk/group-infrastructure-as-code

feat: use in_progress in unmanaged resp.
  src/lib/ecosystems/resolve-test-facts.ts
  src/lib/ecosystems/unmanaged/types.ts
  src/lib/polling/polling-test.ts
  test/jest/unit/lib/ecosystems/fixtures/get-dep-graph-response.ts
  test/jest/unit/lib/ecosystems/resolve-test-facts.spec.ts
Owners: @snyk/hammer, @snyk/snyk-open-source

chore: build typescript + golang cli locally
  Makefile
  cliv2/Makefile
Owners: @snyk/hammer, @snyk/snyk-open-source

refactor: use basic auth for internal CLI proxy
  cliv2/cmd/cliv2/main.go
  cliv2/go.mod
  cliv2/go.sum
  cliv2/internal/cliv2/cliv2.go
  cliv2/internal/cliv2/cliv2_test.go
  cliv2/internal/proxy/proxy.go
  cliv2/internal/proxy/proxy_test.go
Owners: @snyk/hammer

refactor: add CertificateLocation to ProxyInfo
  cliv2/cmd/cliv2/main.go
  cliv2/internal/cliv2/cliv2.go
  cliv2/internal/cliv2/cliv2_test.go
  cliv2/internal/proxy/proxy.go
Owners: @snyk/hammer

fix: identify gradle projects by path not name
  package-lock.json
  package.json
Owners: @snyk/hammer

.github/CODEOWNERS:

*  @snyk/hammer @snyk/snyk-open-source

# monorepo packages
packages/snyk-fix/ @snyk/tech-services
packages/snyk-protect/ @snyk/hammer
packages/cli-alert/ @snyk/hammer

README.md  @snyk/hammer
CONTRIBUTING.md @snyk/hammer
.circleci @snyk/hammer

cliv2/ @snyk/hammer
release-scripts/hcl-to-json-parser-generator/ @snyk/group-infrastructure-as-code
release-scripts/hcl-to-json-parser-generator-v2/ @snyk/group-infrastructure-as-code
src/cli/commands/test @snyk/snyk-open-source
src/cli/commands/monitor @snyk/snyk-open-source
help/  @snyk/hammer
help/cli-commands/iac*.md @snyk/group-infrastructure-as-code @snyk/hammer 
src/cli/commands/test/iac/ @snyk/group-infrastructure-as-code
src/cli/commands/describe.ts @snyk/group-infrastructure-as-code
src/cli/commands/update-exclude-policy.ts @snyk/group-infrastructure-as-code
src/cli/commands/apps @snyk/moose
src/lib/apps @snyk/moose
src/lib/container @snyk/mycelium
src/lib/plugins @snyk/snyk-open-source
test/fixtures/sast/ @snyk/zenith
src/lib/plugins/sast/ @snyk/zenith
test/jest/unit/snyk-code/ @snyk/zenith
src/lib/formatters/iac-output/ @snyk/group-infrastructure-as-code
src/lib/iac/ @snyk/group-infrastructure-as-code
src/lib/snyk-test/iac-test-result.ts @snyk/group-infrastructure-as-code
test/fixtures/basic-apk/ @snyk/mycelium
test/fixtures/container-app-vulns/ @snyk/mycelium
test/fixtures/container-projects/ @snyk/mycelium @snyk/potion
test/fixtures/docker/ @snyk/mycelium @snyk/potion
test/fixtures/iac/ @snyk/group-infrastructure-as-code
test/smoke/iac/ @snyk/group-infrastructure-as-code
test/smoke/spec/iac/ @snyk/group-infrastructure-as-code
test/smoke/spec/snyk_code_spec.sh @snyk/zenith
test/smoke/spec/snyk_basic_spec.sh @snyk/hammer
test/smoke/.iac-data/ @snyk/group-infrastructure-as-code
test/jest/unit/lib/endpoint-config-test.spec.ts @snyk/nebula
test/jest/unit/lib/formatters/iac-output/ @snyk/group-infrastructure-as-code
test/jest/unit/lib/formatters/test/format-test-results.spec.ts @snyk/hammer @snyk/snyk-open-source @snyk/mycelium
test/jest/unit/iac/ @snyk/group-infrastructure-as-code
test/jest/unit/cli/commands/test/iac @snyk/group-infrastructure-as-code
test/jest/unit/lib/iac/ @snyk/group-infrastructure-as-code
test/jest/acceptance/iac/ @snyk/group-infrastructure-as-code
test/jest/acceptance/snyk-apps @snyk/moose
src/lib/code-config.ts @snyk/nebula
src/lib/errors/describe-required-argument-error.ts @snyk/group-infrastructure-as-code
src/lib/errors/describe-exclusive-argument-error.ts @snyk/group-infrastructure-as-code
src/lib/errors/no-supported-sast-files-found.ts @snyk/zenith
help/commands-docs/iac-examples.md @snyk/group-infrastructure-as-code
help/commands-docs/iac.md @snyk/group-infrastructure-as-code
test/jest/util/ @snyk/hammer
dangerfile.js @snyk/hammer
/package.json @snyk/hammer
/package-lock.json @snyk/hammer
/config.default.js @snyk/hammer
/webpack.common.js @snyk/hammer
/webpack.dev.js @snyk/hammer
/webpack.prod.js @snyk/hammer
/tsconfig.json @snyk/hammer
/tsconfig.settings.json @snyk/hammer
CODEOWNERS @snyk/hammer
/docker @snyk/hammer
src/cli/commands/log4shell-hashes.ts @snyk/tundra
src/cli/commands/log4shell.ts @snyk/tundra
test/fixtures/unmanaged-log4j-fixture @snyk/tundra
test/jest/acceptance/snyk-log4shell/log4shell-detection.spec.ts @snyk/tundra
test/jest/acceptance/snyk-test/app-vuln-container-project.spec.ts @snyk/mycelium
/.github @snyk/hammer
/.github/workflows/iac-smoke-tests.yml @snyk/group-infrastructure-as-code
/.github/workflows/iac-smoke-tests-pulls.yml @snyk/group-infrastructure-as-code

# tap tests ownership
test/tap/cli-monitor/ @snyk/snyk-open-source
test/tap/cli-test/ @snyk/snyk-open-source
test/tap/args.test.ts @snyk/hammer
test/tap/auth.test.ts @snyk/hammer
test/tap/cli-fail-on-docker.test.ts @snyk/hammer
test/tap/cli-fail-on-pinnable.test.ts @snyk/snyk-open-source
test/tap/cli-monitor.acceptance.test.ts @snyk/snyk-open-source
test/tap/cli-test.acceptance.test.ts @snyk/snyk-open-source
test/tap/cli.test.ts @snyk/hammer
test/tap/container.test.ts @snyk/potion
test/tap/display-test-results.test.ts @snyk/snyk-open-source
test/tap/docker-token.test.ts @snyk/potion
test/tap/endpoint-config.test.ts @snyk/hammer
test/tap/find-files.test.ts @snyk/snyk-open-source
test/tap/monitor-target.test.ts @snyk/snyk-open-source
test/tap/proxy.test.js @snyk/hammer
test/tap/remote-package.test.ts @snyk/snyk-open-source
test/tap/request.test.ts @snyk/hammer
test/tap/run-test.test.ts @snyk/snyk-open-source
test/tap/severity-threshold.test.ts @snyk/snyk-open-source
test/tap/sln-app.test.ts @snyk/snyk-open-source
test/tap/sub-process.test.js @snyk/snyk-open-source
test/tap/user-config.test.ts @snyk/snyk-open-source
test/tap/vulnerable-path-output.js @snyk/snyk-open-source

# protect
test/tap/cli-protect-no-vulns-to-patch.test.ts @snyk/hammer
test/tap/patch-fetch-fail.test.ts @snyk/hammer
test/tap/cli-protect.test.ts @snyk/hammer
test/tap/protect-apply-same-patch-again.test.js @snyk/hammer
test/tap/protect-config.test.ts @snyk/hammer
test/tap/protect-factors-pre-tarred.test.ts @snyk/hammer
test/tap/protect-fail.test.js @snyk/hammer
test/tap/protect-ignore.test.js @snyk/hammer
test/tap/protect-patch-filter.test.js @snyk/hammer
test/tap/protect-patch-order.test.ts @snyk/hammer
test/tap/protect-patch-same-pkg.test.js @snyk/hammer
test/tap/protect-semver-patch.test.ts @snyk/hammer
